{{ obj.state|capfirst }}

{% if obj.state == 'failed' %}
<i class="fa fa-info-circle text-red" title="{{ obj.message }}"></i>
{% elif obj.state == 'started' %}
<i class="fa fa-spinner fa-spin"></i>
{% endif %}
