{% load static %}

<div class="row">
    <div class="col-md-12">

        <div class="box box-solid">

             <div class="box-header with-border">
                {% if obj.change_permission %}
                <div class="pull-right">
                    <a href="{% url 'genotyping:create' obj.pk %}"
                    id="id_add_fileset">
                        <i class="fa fa-plus fa-lg" title="Add"></i>
                    </a>
                </div>
                {% endif %}
            </div>

            <div class="box-body">

                <table id="id_genotype_table"
                       class="table table-bordered table-striped">
                    <thead>
                    <tr>
                    <th>Id</th>
                    <th>File set</th>
                    <th>Software</th>
                    <th>Run Date Time</th>
                    <th>State</th>
                    <th></th>
                    <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for genotype in genotypes %}

                    <tr>
                        <td>{{ genotype.pk }}</td>
                        <td>{{ genotype.file_set.name }}</td>
                        <td>{{ genotype.software }}</td>
                        <td>{{ genotype.created_at }}</td>
                        <td><div class="state" pk="{{ genotype.pk }}" model="genotyping">{{ genotype.state| capfirst }}
                            {% if genotype.state == 'failed' %}
                            <i class="fa fa-info-circle text-red" title="{{ genotype.message }}"></i>
                            {% elif genotype.state == 'started' %}
                            <i class="fa fa-spinner fa-spin"></i>
                            {% endif %}
                        </div>
                        </td>
                        <td>&nbsp;
                            <a href="#extra" class="show_files" onclick="showFiles({{ genotype.file_set.pk }})"><i class="fa fa-file"></i></a>&nbsp;&nbsp;

                            {% if genotype.state == "success" %}
                            <a href="{% url 'genotyping:download' genotype.pk %}"
                               id="id_download_link">
                                <i class="fa fa-download" title="Download results"></i></a>
                            {% endif%}

                        </td>
                        <td>
                            {% if obj.change_permission %}
                            <div class="pull-right">
                                <a href="{% url 'genotyping:trash' genotype.pk 'false'%}"
                                   class="genotyping_trash_link">
                                    <i class="fa fa-trash text-red" title="Trash"></i>
                                </a>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>


                <br /><br />
                <a name="extra"></a>
                <div id="id_extra"></div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
    <!-- /.col -->
</div>
<!-- /.row -->





<script src="{% static 'js/state.js' %}"></script>
<script>

spinner = '<div style="text-align:center"><i class="fa fa-spinner fa-spin fa-2x"></i></div>';

// URLs for state update
urls["genotyping"] = "{% url 'genotyping:state' 0 %}";

function showFiles(value) {

    $("#id_extra").html(spinner);

    url = '{% url 'fileset:view_files' 'biologicalsample' obj.pk 0 %}';
    url = url.replace("/0/", "/" + value + "/");
    $("#id_extra").load(url);
}


</script>