{% extends 'mhc_pipeline/base_site/list.html' %}


{% block list_table %}
<thead>
    <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Peptide count</th>
        <th>Comments</th>
        <th>Created by</th>
        <th>Created at</th>
    </tr>
</thead>

<tbody>
    {% for entry in immunopeptidomes %}
    <tr>
        <td><a href="{% url 'immunopeptidome:view' entry.pk %}">
            <i class="glyphicon glyphicon-eye-open fa-1d5x"
               title="View"></i></a></td>
        <td>{{ entry.pk }}</td>
        <td>{{ entry.name }}</td>
        <td>{{ entry.peptide_count }}</td>
        <td>{{ entry.comments }}</td>
        <td>{{ entry.created_by }}</td>
        <td>{{ entry.created_at }}</td>
    </tr>
    {% endfor %}
</tbody>
{% endblock %}


{% block page_js %}
<!-- page script -->
<script>
      $(function () {
        $('#list_table').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "pageLength": 10,
        });
      });

</script>
{% endblock %}