{% load misc_tags %}

{% for obj in steps %}
<tr>
    <td>
        <div class="tt" data-tt-id="{{ obj.pk }}" data-tt-parent="{{ parent }}">
            <a href="{{ obj.get_absolute_url }}">{{ obj }}</a></div>
    </td>
    <td>
        <ul>
            {% for identification in obj.identification.all %}
            <li><a href="{% url 'identification:view_id' identification.pk %}">
                {{ identification.alternate_label }}</a></li>
            {% endfor %}
        </ul>
    </td>
    <td>{{ obj.filter }}<br/>{{ obj.filter|format_filter_values|safe }}</td>
</tr>

    {% if obj.immunopeptidome.count %}
        {% include "mhc_pipeline/immunopeptidome/step.html" with steps=obj.immunopeptidome.all parent=obj.pk%}
    {% endif %}

{% endfor %}



