{% extends 'content.html' %}
{% load crispy_forms_tags %}
{% load form_tags %}
{% load i18n %}
{% load misc_tags %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-12">

        <div class="pull-left">
            {% if edit_perm %}
            <a href="{% url 'immunopeptidome:edit' obj.pk %}"
               class='btn btn-block btn-skin btn-flat'
               id="id_link_biological_sample_edit">
                <i class="fa fa-pencil"></i>&nbsp;&nbsp;
                {% trans 'Edit' %}</a>
            {% endif %}
        </div>
        <div class="pull-left">
            {% if trash_perm %}
            <a href="{% url 'immunopeptidome:trash' obj.pk 'false'%}"
               class='btn btn-block btn-skin btn-flat'>
                <i class="fa fa-trash"></i>&nbsp;&nbsp;
                {% trans 'Trash' %}</a>
            {% endif %}
        </div>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-sm-6">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">

                <h3 class="box-title">
                    <i class="fa fa-list"></i>&nbsp;&nbsp;
                    Description</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"
                            data-toggle="tooltip" title="Collapse"><i
                            class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body" style="min-height: 190px">
                <dl class="dl-horizontal">
                    <dt>Identifier</dt>
                    <dd>{{ obj.pk }}</dd>
                    <dt>Name</dt>
                    <dd>{{ obj.name }}</dd>
                    <dt>Peptide count</dt>
                    <dd><div class="state" pk="{{ obj.pk }}" model="peptide_count">{% if obj.peptide_count == -1 %}Started <i class="fa fa-spinner fa-spin"></i>
                        {% else %}
                        {{ obj.peptide_count }}
                        {% endif %}
                        </div>
                    </dd>
                    <dt>Comments</dt>
                    <dd>{{ obj.comments|linebreaks }}</dd>
                    <dt>Tags</dt>
                    <dd>{% for tag in obj.tags.all %}
                        {{ tag.name }}<br />
                        {% endfor %}
                    </dd>
                </dl>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->

    {% include 'mhc_pipeline/permission/tabs.html' %}

    <div class="col-sm-3">
        <a href="{% url 'immunopeptidome:plots' obj.pk %}"
           class='btn btn-primary btn btn-block btn-skin btn-flat btn-lg'
           id="id_plots">
    <i class="fa fa-bar-chart"></i> Exploratory plots</a>
    </div>
    <div class="col-sm-3">
        <form method="GET" action="{% url 'identification:view' %}">
            {% csrf_token %}
            <input type="hidden" name="filter" value="True">
            <input type="hidden" name="immunopeptidome" value="{{ obj.pk }}">
            <input type="submit" name="submit" value="View peptides" class="btn btn-primary btn btn-block btn-skin btn-flat btn-lg" id="id_submit_button">
        </form>
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->


<div class="row">
    <div class="col-sm-12">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">

                <h3 class="box-title">
                    <i class="fa fa-list-ol"></i>&nbsp;&nbsp;
                    Data sets and processing steps</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"
                            data-toggle="tooltip" title="Collapse"><i
                            class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Immunopeptidomes</th>
                        <th>Identifications</th>
                        <th>Filter</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% include "mhc_pipeline/immunopeptidome/step.html" %}
                    </tbody>
                </table>

            </div>
            <!-- /.box-body -->

            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->



{% if edit_perm %}
<a href="{% url 'immunopeptidome:annotate' obj.pk %}"
   class='btn btn-skin btn-flat pull-right'
   id="id_link_document_create">
    <i class="fa fa-plus"></i>&nbsp;&nbsp;
    Create</a>
<a href="{% url 'immunopeptidome:miha_filter' obj.pk %}"
   class='btn btn-skin btn-flat pull-right'
   id="id_link_miha_filter">
    <i class="fa fa-filter"></i>&nbsp;&nbsp;
    MiHA</a>
{% endif %}
<div class="row">
    <div class="col-sm-12">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">

                <h3 class="box-title">
                    <i class="fa fa-file"></i>&nbsp;&nbsp;
                    Annotated peptides documents</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"
                            data-toggle="tooltip" title="Collapse"><i
                            class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                <table id="list_table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Created on</th>
                        <th>Params</th>
                        <th>Comment</th>
                        <th>State</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for entry in documents %}
                    <tr>
                        <td>{{ entry.pk }}</td>
                        <td>{{ entry.created_at|slice:"10" }}</td>
                        <td>{{ entry|format_filter_values|safe }}</td>
                        <td>{{ entry.comment }}
                            {% if edit_perm %}
                            <a href="{% url 'immunopeptidome:document_edit_comment' obj.pk entry.pk %}">
                                <i class="fa fa-comment-o" title="Edit">
                                </i>
                            </a>
                            {% endif %}
                        </td>
                        <td><div class="state" pk="{{ entry.pk }}" model="document">{{ entry.state| capfirst }}
                            {% if entry.state == 'started' %}
                            <i class="fa fa-spinner fa-spin"></i>
                            {% endif %}
                        </div>
                        </td>
                        <td>
                            {% if entry.state == 'success' %}
                            <a href="{% url 'immunopeptidome:document_download' obj.pk entry.id %}"
                               id="id_download_csv"><i
                                    class="fa fa-download"
                                    title="Download"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if trash_perm %}
                            <a href="{% url 'immunopeptidome:document_trash' obj.pk entry.id %}"
                               id="id_trash_link">
                                <i class="fa fa-trash text-red"
                                   title="Trash"></i>
                            </a>

                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->




{% endblock %}






{% block page_js %}

<script src="{% static 'js/state.js' %}"></script>

<!-- Jquery-treetable -->
<link rel="stylesheet" type="text/css" href="{% static 'jquery-treetable/jquery-treetable.css' %}">
<script src="{% static 'jquery-treetable/jquery-treetable.js' %}"></script>
<script>

// URLs for state update
urls["document"] = "{% url 'immunopeptidome:document_state' obj.pk 0 %}";
urls["peptide_count"] = "{% url 'immunopeptidome:peptide_count' obj.pk %}";

timeout = 1000 * 5;

$(function() {
    $("table").treetable();
});

</script>

<script src="{% static 'js/tabs.js' %}"></script>

{% endblock %}
