{% extends 'content.html' %}
{% load static %}
{% load misc_tags %}

{% block content %}

{{ name|safe }}
{{ filter_options|format_filter_values|safe}}
<br /><br />
<div class="row state" pk="{{ key }}" model="peptides_plots">
    <div class="col-sm-12">
    Pending
    </div>
</div>
<br /><br />

{% endblock %}


{% block page_js %}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.bokeh.org/bokeh/release/bokeh-{{ bokeh_version }}.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-{{ bokeh_version }}.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-{{ bokeh_version }}.min.js"
    crossorigin="anonymous"></script>
<script src="{% static 'js/state.js' %}"></script>

<script>

timeout = 1000 * 1;

// URLs for state update
urls["peptides_plots"] = "{% url 'peptides_plots:plots_state' 0 %}";
</script>

{% endblock %}