{% extends "registration/registration_head.html" %}
{% load i18n %}

{% block form_content %}

<p class='lead text-center'>{% trans "Your account is now activated." %}</p>
<br/>
<p class='text-align-center lead'><a href="{% url 'auth_login' %}">
    <button class="btn btn-block btn-skin btn-flat btn-lg">Sign In</button>
</a></p>

{% endblock %}
