{% extends "base.html" %}


{% block not_logged_content %}
<div class='row auth-bg'>
    <div class='col-sm-4 col-sm-offset-4'>
        <br/><br/>

        {% block auth_content %}
        {% endblock %}

    </div>
</div>
{% endblock %}