{% extends "registration/auth_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Sign In{% endblock %}

{% block auth_content %}
    <h1 class="text-center">Welcome to {% include 'site_name.html' %}</h1>
    <br/>

    <p class="lead text-center">
      Sign in to start your session
      <br /><br />
      <i class="fa fa-sign-in fa-2x"></i>
    </p>

    <form method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}

      <input class='btn btn-block btn-skin btn-flat btn-lg' type="submit" value="{% trans 'Sign In' %}"/>
      <input type="hidden" name="next" value="{{ next }}"/>
    </form>

    <br/>

    <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>

{% endblock %}
