{% extends "registration/auth_base.html" %}
{% load i18n %}

{% block head_title %}Sign Out{% endblock %}

{% block auth_content %}

<h1 class="text-center">Sign Out</h1>
<br/>

<p class='text-center lead'><i class="fa fa-sign-out fa-5x"></i></p>

<p class='text-center lead'>You have successfully logged out.</p>
<br/>
<p class='text-align-center lead'><a href="{% url 'auth_login' %}">
    <button class="btn btn-block btn-skin btn-flat btn-lg">Sign In</button>
</a></p>

{% endblock %}
