{% extends "registration/password_reset_head.html" %}
{% load i18n %}

{% block form_content %}

<p class='text-center lead'>{% trans "Password reset successfully" %}</p>
<br />
<p><a class="btn btn-block btn-skin btn-flat btn-lg" href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>

{% endblock %}
