{% extends "registration/password_change_head.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block form_content %}

<form method="post" action=".">
  {% csrf_token %} 
  {{ form|crispy }}

  <input class='btn btn-block btn-skin btn-flat btn-lg'  type="submit" value="{% trans 'Submit' %}" />
</form>

{% endblock %}

{% block page_js %}
<script src="{% static 'zxcvbn_password/js/zxcvbn.js' %}"></script>
<script src="{% static 'zxcvbn_password/js/password_strength.js' %}"></script>
{% endblock %}
