{% extends "registration/auth_base.html" %}

{% block head_title %}Password Reset{% endblock %}

{% block auth_content %}
<h1 class="text-center">Password Reset</h1>
<br/>

<p class='text-center lead'><i class="fa fa-repeat fa-5x"></i></p>
<br />

{% block form_content %}
{% endblock %}

{% endblock %}

