{% extends "registration/password_reset_head.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block form_content %}

<p class='text-center lead'>Reset your password using your email below.</p>
<br/>

<form method="post" action=".">
    {% csrf_token %}
    {{ form|crispy }}

    <input class='btn btn-block btn-skin btn-flat btn-lg' type="submit" value="{% trans 'Reset' %}"/>
</form>

{% endblock %}

