{% extends "registration/password_reset_head.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block form_content %}

{% if validlink %}

<form method="post" action=".">
  {% csrf_token %} 
  {{ form|crispy }}

  <input class='btn btn-block btn-skin btn-flat btn-lg' type="submit" value="{% trans 'Submit' %}" />
</form>

{% else %}

<p class='text-center lead'>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
