{% extends "registration/registration_head.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}



{% block form_content %}




<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-skin btn-flat btn-lg' id="id_submit" type="submit" value="{% trans 'Join' %}" />
</form>

<hr/>
<p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
{% endblock %}

{% block page_js %}
<script src="{% static 'zxcvbn_password/js/zxcvbn.js' %}"></script>
<script src="{% static 'zxcvbn_password/js/password_strength.js' %}"></script>
{% endblock %}