{% extends "registration/auth_base.html" %}

{% block head_title %}Register{% endblock %}


{% block auth_content %}

<h1 class="text-center">{% include 'site_name.html' %} Register</h1>
<br/>

<p class='text-center lead'><i class="fa fa-user-plus fa-4x"></i></p>
<br />

{% block form_content %}
{% endblock %}


<br /><br />
<h3>Password policy</h3>
<ul>
    <li>Minimum length = 8</li>
    <li>Not all numeric</li>
    <li>Not a common password</li>
    <li>Acceptable entropy score (bar must turn green)</li>
    <li>Sufficiently different from certain attributes of the user</li>
</ul>

{% endblock %}