{% extends 'content.html' %}
{% load static %}
{% block head_title %}Spectrum Viewer{% endblock %}

{% block content_title%}Spectrum Viewer{% endblock %}
{% block content_icon%}<i class="fa fa-bar-chart pull-right"></i>{% endblock %}

{% block content %}

<script language="javascript" type="text/javascript">
var xiSPEC_Title="xiSPEC Standalone";
var xiSPEC_SubTitle="Xi Spectrum Viewer";
var xiSPEC_TitleNote="spectrumviewer.org";

</script>


<script src="{% static 'spectrum_viewer/js/jbApp.js' %}" language="javascript"
        type="text/javascript"></script>
<script src="{% static 'spectrum_viewer/js/jbDrawing0.01.js' %}"
        language="javascript" type="text/javascript"></script>
<script src="{% static 'spectrum_viewer/js/jbSVGDrawing0.01.js' %}"
        language="javascript" type="text/javascript"></script>
<script src="{% static 'spectrum_viewer/js/jbNiceIntervals.js' %}"
        language="javascript" type="text/javascript"></script>
<script src="{% static 'spectrum_viewer/js/XiSpectrumViewer0.10.js' %}"
        language="javascript" type="text/javascript"></script>
<script src="{% static 'spectrum_viewer/js/spectra.js' %}" language="javascript"
        type="text/javascript"></script>
<script src="{% static 'spectrum_viewer/js/svgexporter.js' %}"
        language="javascript" type="text/javascript"></script>
<script src="{% static 'spectrum_viewer/js/AA.js' %}" language="javascript"
        type="text/javascript"></script>
<script src="{% static 'spectrum_viewer/js/peptidetabs.js' %}"
        language="javascript" type="text/javascript"></script>
<script src="{% static 'spectrum_viewer/js/aa-app.js' %}" language="javascript"
        type="text/javascript"></script>


<link rel="stylesheet" href="{% static 'spectrum_viewer/css/index.css' %}">

<style type="text/css">#peptidetableTab1 , #peptidetableTab2 , #peptidetableTab3
    { display: none; }
</style>


<div id="appContainer"></div>

<div id="checkform">
    CHECKFORM
</div>

Identification id: {{ peptide.identification_id }} <br />
File set name: {{ fileset_name }} <br />
Source file: {{ peptide.scan_file }}<br />
Scan number: {{ peptide.scan_number }}<br />
m/z: {{ peptide.experimental_mz }} &nbsp;&nbsp;z: {{ peptide.charge_state }} &nbsp;&nbsp;Error (ppm): {{ peptide.error_ppm|floatformat:2 }}<br />
Peptide score: {{ peptide.peptide_score }}
<div style="margin-top:20px; margin-bottom:10px;" id="toolbar">

    &nbsp;&nbsp;
    Validation:
    &nbsp;&nbsp;
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default bg-gray active disabled" id="validation-none">
            <input type="radio" name="validation" value="None"/> <span>&nbsp;</span>
        </label>
        <label class="btn btn-default bg-red" {{ validation_disabled }} id="validation-red">
            <input type="radio" name="validation" value="R"/> <span>&nbsp;</span>
        </label>
        <label class="btn btn-default bg-yellow" {{ validation_disabled }}  id="validation-yellow">
            <input type="radio" name="validation" value="Y"/> <span>&nbsp;</span>
        </label>
        <label class="btn btn-default bg-green" {{ validation_disabled }} id="validation-green">
            <input type="radio" name="validation" value="G"/> <span>&nbsp;</span>
        </label>
    </div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:v.zoomer.panLeft();" title="Pan Left" id="panleft"><img
            src="{% static 'spectrum_viewer/img/panleft.png' %}"></a>
    <a href="javascript:v.zoomer.panRight();" title="Pan Right"
       id="panright"><img src="{% static 'spectrum_viewer/img/panright.png' %}"></a>
    <a href="javascript:v.zoomer.zoomIn();" title="Zoom In" id="zoomin"><img
            src="{% static 'spectrum_viewer/img/zoomin.png' %}"></a>
    <a href="javascript:v.zoomer.zoomOut();" title="Zoom Out" id="zoomout"><img
            src="{% static 'spectrum_viewer/img/zoomout.png' %}"></a>
    <a href="javascript:v.zoomer.zoomUndo();" title="Zoom Undo"
       id="zoomundo"><img src="{% static 'spectrum_viewer/img/zoomundo.png' %}"></a>
    <a href="javascript:showWindowedTab('zoomexact');" title="Zoom Exact"
       id="exact"><img
            src="{% static 'spectrum_viewer/img/zoomexact.png' %}"></a>
    <a href="javascript:v.autoZoom();" title="Zoom Reset" id="zoomreset"><img
            src="{% static 'spectrum_viewer/img/zoomreset.png' %}"></a>

    <a href="#" onclick="ToggleWindow('Data Setup'); " id="databutton"
       class="toolbutton" title="Data Setup"><img
            src="{% static 'spectrum_viewer/img/data.png' %}"></a>
    <a href="#" onclick="ToggleWindow('Visual Settings'); " id="visbutton"
       class="toolbutton" title="Visual Settings"><img
            src="{% static 'spectrum_viewer/img/view.png' %}">
    <a href="javascript:postSVG('msms_id_{{ peptide.pk }}_{{ peptide.sequence }}.svg');" title="Export Image" id="export"><img src="{% static 'spectrum_viewer/img/export.png' %}"></a>

        <a href="#" onclick="ToggleWindow('Help'); " id="helpbutton"
           class="toolbutton" title="Help"><img
                src="{% static 'spectrum_viewer/img/help.png' %}"></a>

<br>
        <!--
    <a href="javascript:postDATA();" title="Export HTML" id="export2"><img src="{% static 'spectrum_viewer/img/export2.png' %}"></a><br>
    -->
</div>

<div id="container">
</div>

<div id="messages"></div>

<div style="opacity: .7;cursor:wait;visibility:hidden;position:absolute;top:0px;left:0px;width:100%;height:100%;background-color:grey;"
     id="waitbox">
    <div style="position:relative;text-align:center;top:50%;font-size:72pt;font-family:Arial;text-shadow: #000000 2px -2px 0px;">
        PLEASE WAIT
    </div>
</div>


<form id="entryform">


    <div id="id_spectrum_viewer" style="display: none;">


        <div style="padding:5px; margin:5px;" id="peptidetable">
            <table cellspacing="0" cellpadding="0">
                <tr valign="top">
                    <td>
                        <div class="jbAppTabVertical">
                            <a href="#"
                               onclick="psShowCheck(0);peptidetableTabs(0);"
                               class="jbAppTabVerticalActive"
                               id="peptidetableTab0">Single Peptide</a>
                            <a href="#"
                               onclick="psShowCheck(1);peptidetableTabs(1);"
                               class="" id="peptidetableTab1">2nd Peptide</a>
                            <a href="#"
                               onclick="psShowCheck(2);peptidetableTabs(2);"
                               class="" id="peptidetableTab2">Crosslinked</a>
                            <a href="#"
                               onclick="psShowCheck(3);peptidetableTabs(3);"
                               class="" id="peptidetableTab3">Advanced</a>
                        </div>
                    </td>
                    <td>


                        <table class="jbAppTabFrameContentVertical">


                            <tr>
                                <td colspan="2">
                                    <div id="pd0titleP1">Single peptide</div>
                                    <div id="pd0titleP2">Two peptides</div>
                                    <div id="pd0titleX">Xlinked peptides</div>
                                    <div id="pd0titleA">Advanced</div>
                                </td>
                                <td>
                                    <div id="pd0A0">Advanced</div>
                                </td>
                                <td>
                                    <div id="pd0X0">Linker posn.</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="pd0p1a">Peptide</div>
                                </td>
                                <td>
                                    <div id="pd0p1b"><input name="pepent1"
                                                            type="text"
                                                            id="pepent1"
                                                            size="20"
                                                            value="GFGFVSFEmeR"/>
                                    </div>
                                </td>
                                <td>
                                    <div id="pd0A1">2nd Pep <input name="ispep2"
                                                                   type="checkbox"
                                                                   id="ispep2">
                                    </div>
                                </td>
                                <td>
                                    <div id="pd0X1"><input name="resent1"
                                                           type="text"
                                                           id="resent1" size="2"
                                                           value="4"/></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="pd0p2a">2nd Peptide</div>
                                </td>
                                <td>
                                    <div id="pd0p2b"><input name="pepent2"
                                                            type="text"
                                                            id="pepent2"
                                                            size="20"
                                                            value="KGDINPEVSMIR"/>
                                    </div>
                                </td>
                                <td>
                                    <div id="pd0A2">Xlink <input name="isxlink"
                                                                 type="checkbox"
                                                                 id="isxlink"/>
                                    </div>
                                </td>
                                <td>
                                    <div id="pd0X2"><input name="resent2"
                                                           type="text"
                                                           id="resent2" size="2"
                                                           value="1"/></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="pd0links">
                                        <div style="float:right;">PPM: <input
                                                name="ppm" type="text" id="ppm"
                                                size="2" value="500"/></div>
                                    </div>
                                </td>
                                <td>
                                    <div id="pd0A3"></div>
                                </td>
                                <td>
                                    <div id="pd0X4"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="pd0links2">
                                        <button href="#"
                                                style="font-style:italic"
                                                onclick="showWindowedTab('specentcontainer');"
                                                id="pd0linksSpeclink">Define
                                            spectrum...
                                        </button>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <button style="float:right;font-weight:bold"
                                            onclick="javascript:doParseSpec();">
                                        Apply
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div id="mzDP">Decimal Places in view: <input name="mzDPin" type="text"
                                                      id="mzDPin" value="2"/>
        </div>

        <div id="specentcontainer">
            <p>Precursor charge state: +<input name="maxz" type="text" id="maxz"
                                               value="2"/></p>

            <p>Paste your spectrum below (in mgf style format)</p>
            <textarea wrap="off" name="specent" class="styledtextarea"
                      id="specent"></textarea><br/>
            <button style="float:right;font-weight:bold"
                    onclick="alert('tbd');">?
            </button>
            <button style="font-weight:bold"
                    onclick="javascript:doParseSpec();">Apply
            </button>
        </div>


        <div id="losslistcontainer">
    <textarea wrap="off" name="losslist" class="styledtextarea" id="losslist">Name	Symbol	Use	Specificity	Formula
-CH3SOH	^	N	Mox	-C -H3 -S -O -H
-NH3	*	N	[RKNQ\[]	-N -H3
-H2O	°	N	[STDE\]]	-H2 -O
-HPO3	†	N	ph	-H -P -O3
-H3PO4	‡	N	ph	-H3 -P -O4
</textarea></div>

        <div id="iontablecontainer">
    <textarea wrap="off" name="iontable" class="styledtextarea" id="iontable">Type	Use	Handedness	Formula
a	N	L	-C -H -O
b	Y	L	-H
c	N	L	N H2
x	N	R	C O -H
y	Y	R	H
z	N	R	-N -H
</textarea></div>


        <div id="colourtablecontainer">
    <textarea wrap="off" name="colourtable" class="styledtextarea"
              id="colourtable">Ion Type	Colour
a_alpha	red
a_beta	blue
b_alpha	red
b_beta	blue
c_alpha	red
c_beta	blue
x_alpha	red
x_beta	blue
y_alpha	red
y_beta	blue
z_alpha	red
z_beta	blue
a_alpha_lossy	red
a_beta_lossy	blue
b_alpha_lossy	red
b_beta_lossy	blue
c_alpha_lossy	red
c_beta_lossy	blue
x_alpha_lossy	red
x_beta_lossy	blue
y_alpha_lossy	red
y_beta_lossy	blue
z_alpha_lossy	red
z_beta_lossy	blue
</textarea></div>


        <div id="formulaecontainer">
    <textarea wrap="off" name="formulae" class="styledtextarea" id="formulae">G	NH2CH2COOH -H2 -O
A	CH3CHNH2COOH -H2 -O
S	HOCH2CHNH2COOH -H2 -O
P	NHCH2CH2CH2CHCOOH -H2 -O
V	CH3CH3CHCHNH2COOH -H2 -O
T	CH3CHOHCHNH2COOH -H2 -O
C	HSCH2CHNH2COOH -H2 -O
I	CH3CH2CHCH3CHNH2COOH -H2 -O
L	CH3CH3CHCH2CHNH2COOH -H2 -O
N	H2NCOCH2CHNH2COOH -H2 -O
D	HOOCCH2CHNH2COOH -H2 -O
Q	H2NCOCH2CH2CHNH2COOH -H2 -O
K	H2NCH2CH2CH2CH2CHNH2COOH -H2 -O
E	HOOCCH2CH2CHNH2COOH -H2 -O
M	CH3SCH2CH2CHNH2COOH -H2 -O
ox	O
cm	H3C2NO
cy	H5C3NO2S
H	NHCHNCHCCH2CHNH2COOH -H2 -O
F	C6H5CH2CHNH2COOH -H2 -O
R	HNCNH2NHCH2CH2CH2CHNH2COOH -H2 -O
Y	HOC6H4CH2CHNH2COOH -H2 -O
W	C6H5NHCHCCH2CHNH2COOH -H2 -O
ph	PO3H
tmth	C8H20O2N 13C4 15N
tmtl	C12H20O2N2
[	H
]	OH
h	H
X	X
Z	C8O2H10
me	CH2
dme	C2H4
d	O -H -N
</textarea></div>


        <div id="outputscontainer">
    <textarea wrap="off" name="outputs" class="styledtextarea" id="outputs">
    </textarea></div>

        <div id="econtainer">
<textarea wrap="off" style="-moz-tab-size: 18; -o-tab-size: 18; tab-size: 18; "
          name="e" class="styledtextarea" id="e">X	0	0	100	0	-	-	-	-	-	-	-	-	-	-
H	1.00794	1.0078250321	99.984426	2.014101778	0.015574	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
1H	1.0078250321	1.0078250321	100
2H	2.014101778	2.014101778	100	-	-	-	-	-	-	-	-	-	-
He	4.002602	3.0160293097	0.0001343	4.0026032497	99.9998657	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Li	6.941	6.0151223	7.589	7.016004	92.411	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Be	9.012182	9.0121821	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
B	10.811	10.012937	19.82	11.0093055	80.18	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
C	12.0107	12	98.8922	13.0033548378	1.1078	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
12C	12	12	100	-	-	-	-	-	-	-	-	-	-
13C	13.0033548378	13.0033548378	100	-	-	-	-	-	-	-	-	-	-
N	14.0067	14.0030740052	99.6337	15.0001088984	0.3663	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
14N	14.0030740052	14.0030740052	100	-	-	-	-	-	-	-	-	-	-
15N	15.0001088984	15.0001088984	100	-	-	-	-	-	-	-	-	-	-
O	15.9994	15.9949146221	99.7628	16.9991315	0.0372	17.9991604	0.20004	-	-	-	-	-	-	-	-	-	-	-	-	-	-
F	18.9984032	18.9984032	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Ne	20.1797	19.9924401759	90.4838	20.99384674	0.2696	21.99138551	9.2465	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Na	22.98977	22.98976967	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Mg	24.305	23.9850419	78.992	24.98583702	10.003	25.98259304	11.005	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Al	26.981538	26.98153844	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Si	28.0855	27.9769265327	92.22968	28.97649472	4.68316	29.97377022	3.08716	-	-	-	-	-	-	-	-	-	-	-	-	-	-
P	30.973761	30.97376151	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
S	32.065	31.97207069	95.018	32.9714585	0.75	33.96786683	4.215	35.96708088	0.017	-	-	-	-	-	-	-	-	-	-	-	-
Cl	35.453	34.96885271	75.771	36.9659026	24.229	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Ar	39.948	35.96754628	0.3365	37.9627322	0.0632	39.962383123	99.6003	-	-	-	-	-	-	-	-	-	-	-	-	-	-
K	39.0983	38.9637069	93.25811	39.96399867	0.011672	40.96182597	6.73022	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Ca	40.078	39.9625912	96.941	41.9586183	0.647	42.9587668	0.135	43.9554811	2.086	45.9536928	0.004	47.952534	0.187	-	-	-	-	-	-	-	-
Sc	44.95591	44.9559102	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Ti	47.867	45.9526295	8.249	46.9517638	7.437	47.9479471	73.72	48.9478708	5.409	49.9447921	5.185	-	-	-	-	-	-	-	-	-	-
V	50.9415	49.9471628	0.2497	50.9439637	99.7503	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Cr	51.9961	49.9460496	4.3452	51.9405119	83.7895	52.9406538	9.5006	53.9388849	2.3647	-	-	-	-	-	-	-	-	-	-	-	-
Mn	54.938049	54.9380496	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Fe	55.845	53.9396148	5.845	55.9349421	91.754	56.9353987	2.1191	57.9332805	0.2819	-	-	-	-	-	-	-	-	-	-	-	-
Co	58.9332	58.9332002	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Ni	58.6934	57.9353479	68.0769	59.9307906	26.2231	60.9310604	1.1399	61.9283488	3.6345	63.9279696	0.9256	-	-	-	-	-	-	-	-	-	-
Cu	63.546	62.9296011	69.174	64.9277937	30.826	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Zn	65.39	63.9291466	48.63	65.9260368	27.9	66.9271309	4.1	67.9248476	18.75	69.925325	0.62	-	-	-	-	-	-	-	-	-	-
Ga	69.723	68.925581	60.1079	70.924705	39.8921	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Ge	72.64	69.9242504	21.234	71.9220762	27.662	72.9234594	7.717	73.9211782	35.943	75.9214027	7.444	-	-	-	-	-	-	-	-	-	-
As	74.9216	74.9215964	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Se	78.96	73.9224766	0.889	75.9192141	9.366	76.9199146	7.635	77.9173095	23.772	79.9165218	49.607	81.9167	8.731	-	-	-	-	-	-	-	-
Br	79.904	78.9183376	50.686	80.916291	49.314	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Kr	83.8	77.920386	0.35351	79.916378	2.28086	81.9134846	11.58304	82.914136	11.49533	83.911507	56.9889	85.9106103	17.29835	-	-	-	-	-	-	-	-
Rb	85.4678	84.9117893	72.1654	86.9091835	27.8346	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Sr	87.62	83.913425	0.5574	85.9092624	9.8566	86.9088793	7.0015	87.9056143	82.5845	-	-	-	-	-	-	-	-	-	-	-	-
Y	88.90585	88.9058479	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Zr	91.224	89.9047037	51.452	90.905645	11.223	91.9050401	17.146	93.9063158	17.38	95.908276	2.799	-	-	-	-	-	-	-	-	-	-
Nb	92.90638	92.9063775	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Mo	95.94	91.90681	14.8362	93.9050876	9.2466	94.9058415	15.9201	95.9046789	16.6756	96.906021	9.5551	97.9054078	24.1329	99.907477	9.6335	-	-	-	-	-	-
Ru	101.07	95.907598	5.542	97.905287	1.8688	98.9059393	12.7579	99.9042197	12.5985	100.9055822	17.06	101.9043495	31.5519	103.90543	18.621	-	-	-	-	-	-
Rh	102.9055	102.905504	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Pd	106.42	101.905608	1.02	103.904035	11.14	104.905084	22.33	105.903483	27.33	107.903894	26.46	109.905152	11.72	-	-	-	-	-	-	-	-
Ag	107.8682	106.905093	51.8392	108.904756	48.1608	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Cd	112.411	105.906458	1.25	107.904183	0.89	109.903006	12.49	110.904182	12.8	111.9027572	24.13	112.9044009	12.22	113.9033581	28.73	115.904755	7.49	-	-	-	-
In	114.818	112.904061	4.288	114.903878	95.712	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Sn	118.71	111.904821	0.973	113.902782	0.659	114.903346	0.339	115.901744	14.536	116.902954	7.676	117.901606	24.223	118.903309	8.585	119.9021966	32.593	121.9034401	4.629	123.9052746	5.789
Sb	121.76	120.903818	57.213	122.9042157	42.787	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Te	127.6	119.90402	0.096	121.9030471	2.603	122.904273	0.908	123.9028195	4.816	124.9044247	7.139	125.9033055	18.952	127.9044614	31.687	129.9062228	33.799	-	-	-	-
I	126.90447	126.904468	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Xe	131.293	123.9058958	0.08913	125.904269	0.0888	127.9035304	1.91732	128.9047795	26.43964	129.9035079	4.08271	130.9050819	21.17961	131.9041545	26.89157	133.9053945	10.44232	135.90722	8.8689	-	-
Cs	132.90545	132.905447	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Ba	137.327	129.90631	0.1058	131.905056	0.1012	133.904503	2.417	134.905683	6.592	135.90457	7.853	136.905821	11.232	137.905241	71.699	-	-	-	-	-	-
La	138.9055	137.907107	0.09017	138.906348	99.90983	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Ce	140.116	135.90714	0.186	137.905986	0.251	139.905434	88.449	141.90924	11.114	-	-	-	-	-	-	-	-	-	-	-	-
Pr	140.90765	140.907648	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Nd	144.24	141.907719	27.16	142.90981	12.18	143.910083	23.83	144.912569	8.3	145.913112	17.17	147.916889	5.74	149.920887	5.62	-	-	-	-	-	-
Sm	150.36	143.911995	3.0734	146.914893	14.9934	147.914818	11.2406	148.91718	13.8189	149.917271	7.3796	151.919728	26.7421	153.922205	22.752	-	-	-	-	-	-
Eu	151.964	150.919846	47.81	152.921226	52.19	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Gd	157.25	151.919788	0.2029	153.920862	2.1809	154.922619	14.7998	155.92212	20.4664	156.923957	15.6518	157.924101	24.8347	159.927051	21.8635	-	-	-	-	-	-
Tb	158.92534	158.925343	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Dy	162.5	155.924278	0.056	157.924405	0.096	159.925194	2.34	160.92693	18.91	161.926795	25.51	162.928728	24.9	163.929171	28.19	-	-	-	-	-	-
Ho	164.93032	164.930319	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Er	167.259	161.928775	0.137	163.929197	1.609	165.93029	33.61	166.932045	22.93	167.932368	26.79	169.93546	14.93	-	-	-	-	-	-	-	-
Tm	168.93421	168.934211	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Yb	173.04	167.933894	0.127	169.934759	3.04	170.936322	14.28	171.9363777	21.83	172.9382068	16.13	173.9388581	31.83	175.942568	12.76	-	-	-	-	-	-
Lu	174.967	174.9407679	97.416	175.9426824	2.584	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Hf	178.49	173.94004	0.162	175.9414018	5.2604	176.94322	18.5953	177.9436977	27.2811	178.9458151	13.621	179.9465488	35.0802	-	-	-	-	-	-	-	-
Ta	180.9479	179.947466	0.0123	180.947996	99.9877	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
W	183.84	179.946706	0.1198	181.948206	26.4985	182.9502245	14.3136	183.9509326	30.6422	185.954362	28.4259	-	-	-	-	-	-	-	-	-	-
Re	186.207	184.9529557	37.398	186.9557508	62.602	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Os	190.23	183.952491	0.0197	185.953838	1.5859	186.9557479	1.9644	187.955836	13.2434	188.9581449	16.1466	189.958445	26.2584	191.961479	40.7815	-	-	-	-	-	-
Ir	192.217	190.960591	37.272	192.962924	62.728	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Pt	195.078	189.95993	0.013634	191.961035	0.782659	193.962664	32.967	194.964774	33.831557	195.964935	25.24166	197.967876	7.16349	-	-	-	-	-	-	-	-
Au	196.96655	196.966552	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Hg	200.59	195.965815	0.15344	197.966752	9.968	198.968262	16.873	199.968309	23.096	200.970285	13.181	201.970626	29.863	203.973476	6.865	-	-	-	-	-	-
Tl	204.3833	202.972329	29.524	204.974412	70.476	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Pb	207.2	203.973029	1.4245	205.974449	24.1447	206.975881	22.0827	207.976636	52.3481	-	-	-	-	-	-	-	-	-	-	-	-
Bi	208.98038	208.980383	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Th	232.0381	232.0380504	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
Pa	231.03588	231.0358789	100	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
U	238.02891	234.0409456	0.00548	235.0439231	0.72	238.0507826	99.2745	-	-	-	-	-	-	-	-	-	-	-	-	-	-
</textarea></div>


        <div class="help" id="helpAbout">
            <p>Xi Spectrum Viewer &amp; Auxiliary Annotator version
                -120319.092041 <a target="_blank"
                                  href="http://sf.net/projects/spectrumviewer/">Spectrum
                    Viewer at SourceForge.net</a></p>
        </div>


        <div class="help" id="helpGettingStarted">
            <h1>Quick-start guide</h1>

            <p>You can do the following without closing this help window. If
                this window is in the way you can drag on the title-bar to move
                it. To close this help window (and others like it) click the x
                in the top-right (just like a normal window).</p>

            <p>Hover over the menu at the top to explore it. If you can't see a
                menu, try using Firefox. If you still can't see a menu, visit <a
                        target="_blank"
                        href="http://sf.net/projects/spectrumviewer/">Spectrum
                    Viewer at SourceForge.net</a> and contact the authors.</p>

            <p>There are already some test data loaded, so to try it out, just
                go Menu->Processing->Match. This should match the test spectrum
                to the test peptide using the default parameters.</p>

            <p>Now you can play with the spectrum. Hover over parts and see what
                happens. Drag below the x-axis to xoom. Drag above the x-axis to
                measure.</p>

            <p>To load your own data, go Menu->Data->Spectrum... and input your
                spectrum (delete the test data first), and go
                Menu->Data->Peptide->Single and input your sequence.</p>

        </div>

        <div id="zoomexact">
            <script>
function doZoomExact(){
   var min = parseFloat(document.getElementById("zoomfrom").value);
   var max = parseFloat(document.getElementById("zoomto").value);
   v.zoomer.zoom(min,max);
}

            </script>
            Zoom from <input value="150" name="zoomfrom_noreplace" type="text"
                             id="zoomfrom"/>
            to <input value="1500" name="zoomto_noreplace" type="text"
                      id="zoomto"/>
            <a href="#" onclick="doZoomExact();">Go</a>
        </div>


</form>


<textarea id="myPeptide">{{ myPeptide }}</textarea>
<textarea id="myPeaklist">{{ myPeaklist }}</textarea>
<textarea id="myTolerance">{{ myTolerance }}</textarea>
<textarea id="myPrecursorZ">{{ myPrecursorZ }}</textarea>
</div>
{% endblock %}

{% block page_js %}
<!-- page script -->
<script>
    $(function () {
      	run();
    });


    // Update spectrum validation value
    $('label').click(function(e) {

        if( $(this).children('input').val() != "None" && $(this).attr('disabled') != 'disabled') {

            var url = "{% url 'msms:validation' peptide.pk 'V' %}";
            url = url.replace('V', $(this).children('input').val());

            var element = $(this);

            $.ajax({url:  url, success: function(result){
                if( result == true) {
                    $('label').children('span').html("&nbsp;");
                    element.children('span').html('<i class="fa fa-check"></i>');
                }
                else {
                    alert('Validation not accepted by the server');
                }
            }});

        }
    });


    // Check spectrum validation
    $(document).ready(function(){

        $('label :input[value="{{ peptide.validated }}"]').parent().children('span').html('<i class="fa fa-check"></i>')
    });

</script>
{% endblock %}