{% extends 'content.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row">
    <div class="col-sm-{{ view.column_width }}">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ view.action }}</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"
                            data-toggle="tooltip" title="Collapse"><i
                            class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                {% crispy form %}
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

{% endblock %}

{% block page_js %}
<script>

$( document ).ready(function() {
    $("#div_id_snps").find( "label" ).attr('class', 'control-label col-md-2');;
    $("#div_id_snps").find( "div" ).attr('class', 'control-label col-md-10');;


});






</script>
{% endblock %}