{% extends 'mhc_pipeline/base_site/list.html' %}


{% block list_table %}
<thead>
<tr>
    <th>Id</th>
    <th>SNP[Genome(Species)]</th>
    <th>Import status</th>
    <th>Fasta</th>
</tr>
</thead>

<tbody>
{% for entry in personalized_proteomes %}
<tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.snps_name }}</td>
    <td>{{ entry.fasta_status|capfirst }}</td>
    <td>
        <a href="{% url 'pps:pp_download' entry.id %}"
           id="id_download_fasta"><i
                class="fa fa-download"
                title="Download"></i></a>

        {% if entry.pp_ref is False %}
        <a href="{% url 'pps:snps_remove' entry.id %}"
           id="id_fileset_trash_link">
            <i class="fa fa-trash text-red"
               title="Trash"></i>
        </a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
{% endblock %}


