{% extends 'mhc_pipeline/base_site/list.html' %}


{% block list_table %}
<thead>
<tr>
    <th>Id</th>
    <th>Created on</th>
    <th>File name</th>
    <th>Personalized proteome</th>
    <th>Import status</th>
    <th>CSV</th>
    <th>Bed</th>
    <th>Log</th>
    <th></th>
</tr>
</thead>

<tbody>
{% for entry in peptides_snps %}
<tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.created_at|slice:"10" }}</td>
    <td>{{ entry.peptides_file_name}}</td>
    <td>({{ entry.personalized_proteome_pk }}) {{ entry.personalized_proteome_snps_name }}</td>
    <td>{{ entry.status|capfirst }}</td>
    <td>
        <a href="{% url 'pps:peptides_snps_download' entry.id 'csv' %}"
           id="id_download_csv"><i
                class="fa fa-download"
                title="Download"></i></a>

        {% if entry.pp_ref is False %}
        <a href="{% url 'pps:snps_remove' entry.id %}"
           id="id_fileset_trash_link">
            <i class="fa fa-trash text-red"
               title="Trash"></i>
        </a>
        {% endif %}
    </td>
        <td>
        <a href="{% url 'pps:peptides_snps_download' entry.id 'bed' %}"
           id="id_download_bed"><i
                class="fa fa-download"
                title="Download"></i></a>
    </td>
    <td>
        <a href="{% url 'pps:peptides_snps_download' entry.id 'log' %}"
           id="id_download_log"><i
                class="fa fa-download"
                title="Download"></i></a>
    </td>
    <td>
        <a href="{% url 'pps:peptides_snps_trash' entry.id %}"
           id="id_trash_link">
            <i class="fa fa-trash text-red"
               title="Trash"></i>
        </a>
    </td>
</tr>
{% endfor %}
</tbody>
{% endblock %}


{% block list_table_above %}
<div class="pull-right">
    <a href="{% url 'pps:peptides_snps_add' %}"
       class='btn btn-skin btn-flat' id="id_pps_peptides_snps_add_link">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;
        Add</a>
</div>
{% endblock %}


{% block page_js %}
<!-- page script -->
<script>
      $(function () {
        $('#list_table').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "order": [[ 0, "desc" ]],
          "info": true,
          "autoWidth": false,
          "pageLength": 10,
          "sScrollX": "100%",
        });
      });



function onElementHeightChange(elm, callback){

	var lastHeight = elm.clientHeight, newHeight;
	(function run(){
		newHeight = elm.clientHeight;
		if( lastHeight != newHeight )
			callback();
		lastHeight = elm.clientHeight;

        if( elm.onElementHeightChangeTimer )
          clearTimeout(elm.onElementHeightChangeTimer);

		elm.onElementHeightChangeTimer = setTimeout(run, 200);
	})();
}


onElementHeightChange(document.body, function(){
  //alert('Body height changed');

  //Get window height and the wrapper height
      var neg = $('.main-header').outerHeight() + $('.main-footer').outerHeight();
      var window_height = $(window).height();
      //alert(window_height);
      //alert(document.documentElement.scrollHeight);
      window_height = document.documentElement.scrollHeight + 40;
      var sidebar_height = $(".sidebar").height();
      //Set the min-height of the content and sidebar based on the
      //the height of the document.

      if ($("body").hasClass("fixed")) {
        $(".content-wrapper, .right-side").css('min-height', window_height - $('.main-footer').outerHeight());
      } else {
        var postSetWidth;
        if (window_height >= sidebar_height) {
          $(".content-wrapper, .right-side").css('min-height', window_height - neg);
          postSetWidth = window_height - neg;
        } else {
          $(".content-wrapper, .right-side").css('min-height', sidebar_height);
          postSetWidth = sidebar_height;
        }

        //Fix for the control sidebar height
        var controlSidebar = $($.AdminLTE.options.controlSidebarOptions.selector);
        if (typeof controlSidebar !== "undefined") {
          if (controlSidebar.height() > postSetWidth)
            $(".content-wrapper, .right-side").css('min-height', controlSidebar.height());
        }

      }
});

</script>
{% endblock %}