{% extends 'mhc_pipeline/base_site/list.html' %}


{% block list_table %}
<thead>
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>Species</th>
    <th>Created on</th>
    <th>Import status</th>
    <th>pyGeno package</th>
    <th></th>
</tr>
</thead>

<tbody>
{% for genome in genomes %}
<tr>
    <td>{{ genome.id }}</td>
    <td>{{ genome.name }}</td>
    <td>{{ genome.species|capfirst }}</td>
    <td>{{ genome.created_at|slice:"10" }}</td>
    <td>{{ genome.import_status|capfirst }}
        {% if genome.import_status == 'failed' %}
        {% if 'already exists' in genome.import_logs %}
        (already exists)
        {% endif %}
        {% endif %}
    </td>
    <td>
        <a href="{% url 'pps:genome_package_download' genome.id 0 %}"
           id="id_download_package"><i
                class="fa fa-download"
                title="pyGeno package download"></i></a>
    </td>
    <td>
        <a href="{% url 'pps:genome_remove' genome.id %}"
           id="id_fileset_trash_link">
            <i class="fa fa-trash text-red"
               title="Trash"></i>
        </a>
    </td>
</tr>
{% endfor %}
</tbody>
{% endblock %}


{% block list_table_below %}
<div class="pull-right">
    <a href="{% url 'pps:genome_add' %}"
       class='btn btn-skin btn-flat' id="id_pps_genome_add_link">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;
        Add</a>
</div>
{% endblock %}