{% load misc_tags %}
{% load static %}

<!-- Personalized proteome box -->

<div class="box box-solid">

    <!-- /.box-header -->

    <div class="box-body">
        {% if not pps_unavailable %}

        <table id="pps_snps" width="100%">
            <thead>
            <tr>
                <th colspan="7">SNPs set
                    {% if obj.change_permission %}
                    <div class="pull-right">
                        <a href="{% url 'pps:snps_add' obj.pk %}"
                           id="id_pps_snps_add_link" title="Add">
                            <i class="fa fa-plus"></i></a>
                    </div>
                    {% endif %}
                </th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Created on</th>
                <th>Name</th>
                <th>Reference Genome
                    <a href="{% url 'pps:genome_list' %}">
                        <i class="glyphicon glyphicon-eye-open" title="View">
                        </i>
                    </a></th>
                <th>Comment</th>
                <th>Status</th>
                <th>PG</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in snp_entries %}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.created_at|slice:"10" }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.genome_name }}</td>
                <td>{{ entry.comment }}
                    <a href="{% url 'pps:edit_comment' 'snps' entry.id obj.pk %}">
                        <i class="fa fa-comment-o" title="Edit">
                        </i>
                    </a>
                </td>
                <td><div class="state" pk="{{ entry.id }}" model="snps">{{ entry.status| capfirst }}
                        {% if entry.status == 'started' %}
                        <i class="fa fa-spinner fa-spin"></i>
                        {% endif %}

                        {% if obj.change_permission %}
                        {% if entry.status == 'failed' or entry.pp_ref is False %}
                        <a href="{% url 'pps:snps_remove' entry.id obj.pk %}"
                           id="id_snps_trash_link">
                            <i class="fa fa-trash text-red"
                               title="Trash"></i>
                        </a>
                        {% endif %}
                        {% endif %}
                    </div>
                </td>
                <td>
                    <a href="{% url 'pps:snps_package_download' entry.id  obj.pk %}"
                       id="id_download_package"><i
                            class="fa fa-download"
                            title="pyGeno package download"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <br/>

        <table id="pps_pp" width="100%">
            <thead>
            <tr>
                <th colspan="8">Personalized proteome
                    {% if obj.change_permission %}
                    <div class="pull-right">
                        <a href="{% url 'pps:pp_add' obj.pk %}"
                           id="id_pps_pp_add_link" title="Add">
                            <i class="fa fa-plus"></i></a>
                    </div>
                    {% endif %}
                </th>
            </tr>
            <tr>
                <th>Id</th>
                <th>SNP Id</th>
                <th>Created on</th>
                <th>Filters</th>
                <th>Comment</th>
                <th>Status</th>
                <th>Expression</th>
                <th>Fasta</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for entry in pp_entries %}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.snp_id }}</td>
                <td>{{ entry.created_at|slice:"10" }}</td>
                <td>{{ entry.filters|format_filter_values|safe }}</td>
                <td>{{ entry.comment }}
                    <a href="{% url 'pps:edit_comment' 'personalized_proteomes' entry.id obj.pk %}">
                        <i class="fa fa-comment-o" title="Edit">
                        </i>
                    </a>
                </td>
                <td><div class="state" pk="{{ entry.id }}" model="pp">{{ entry.status| capfirst }}
                            {% if entry.status == 'started' %}
                            <i class="fa fa-spinner fa-spin"></i>
                            {% endif %}
                    </div>
                </td>
                <td>
                    {% if 'Expression' in entry.filters.json_values  %}
                    <a href="{% url 'pps:pp_download' entry.id obj.pk 'expression' %}"
                       id="id_download_expression"><i
                            class="fa fa-download"
                            title="Expression file download"></i></a>
                    {% endif %}
                </td>
                <td>
                    {% if entry.status == 'finished' %}
                    {% if entry.id != '' %}
                    <a href="{% url 'pps:pp_download' entry.id obj.pk 'fasta' %}"
                       id="id_download_fasta"><i
                            class="fa fa-download"
                            title="FASTA download"></i></a>
                    {% endif %}
                    {% endif %}
                </td>
                <td>

                    {% if obj.change_permission %}
                    <a href="{% url 'pps:pp_trash' entry.id obj.pk %}"
                       id="id_pp_trash_link">
                        <i class="fa fa-trash text-red"
                           title="Trash"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <font color="red"><b>Personalized proteome service unavailable</b></font>
        {% endif %}

        <br /><br />
        <h4><i class="fa fa-file"></i>&nbsp;&nbsp;Uploaded FASTA files</h4>
    </div>

    <!-- /.box-body -->

</div>
<!-- /.box -->


{% include "../fileset/tab.html" %}

<script src="{% static 'js/state.js' %}"></script>
<script>

// URLs for state update
urls["pp"] = "{% url 'pps:pp_state' 0 %}";
urls["snps"] = "{% url 'pps:snps_state' 0 %}";

timeout = 1000 * 60;
</script>

<script>
    $('#pps_snps').DataTable({
      "info": false,
      "paging": false,
      "searching": false,
      "sScrollX": "100%",
    });

    $('#pps_pp').DataTable({
          "info": false,
          "paging": false,
          "searching": false,
          "sScrollX": "100%",
    });
</script>
