{% load crispy_forms_tags %}
{% load form_tags %}

<div class="row">

    <div class="col-md-12">

        <!-- Experiment details box -->
        <div class="box box-solid">

            <div class="box-header with-border">
                {% if obj.change_permission %}
                <div class="pull-right">
                    <a href="{% url 'biological_sample:experiment_details_create' obj.pk %}"
                       id="id_experiment_details_add_link">
                        <i class="fa fa-plus fa-lg" title="Add"></i></a>
                    &nbsp;
                </div>
                {% endif %}
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    {% for details in experiment_details %}
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapseED{{ forloop.counter }}">
                                    {{ details.name }}
                                </a>
                            </h4>

                        </div>
                        <div id="collapseED{{ forloop.counter }}"
                             class="panel-collapse collapse">
                            <div class="box-body">
                                {% if obj.change_permission %}
                                {% for form in details|experiment_details_form %}
                                {% crispy form %}
                                {% endfor %}
                                {% else %}
                                {% for form in details|experiment_details_form_no_perm %}
                                {% crispy form %}
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->