{% extends 'mhc_pipeline/base_site/list.html' %}


{% block list_table %}
<thead>
    <tr>
        <th></th>
        <th>Identifier</th>
        <th>Species</th>
        <th>Cell type</th>
        <th>Organ</th>
        <th>Created by</th>
        <th>Modified by</th>
        <th>Created on</th>
        <th>Modified on</th>
    </tr>
</thead>

<tbody>
    {% for sample in samples %}
    <tr>
        <td><a href="{% url 'biological_sample:view' sample.pk %}"><i
                class="glyphicon glyphicon-eye-open fa-1d5x" title="View"></i></a>
        </td>
        <td>{{ sample.identifier }}</td>
        <td>{{ sample.get_Species_display }}</td>
        <td>{{ sample.cell_type }}</td>
        <td>{{ sample.organ }}</td>
        <td>{{ sample.created_by }}</td>
        <td>{{ sample.modified_by }}</td>
        <td>{{ sample.created_at|date:"Y/m/d" }}</td>
        <td>{{ sample.modified_at|date:"Y/m/d" }}</td>
    </tr>
    {% endfor %}
</tbody>
{% endblock %}



{% block page_js %}
<!-- page script -->
<script>
      $(function () {
        $('#list_table').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "order": [[ 8, "dsc" ]],
          "info": true,
          "autoWidth": false,
          "pageLength": 20,
        });
      });

function onElementHeightChange(elm, callback){

	var lastHeight = elm.clientHeight, newHeight;
	(function run(){
		newHeight = elm.clientHeight;
		if( lastHeight != newHeight )
			callback();
		lastHeight = elm.clientHeight;

        if( elm.onElementHeightChangeTimer )
          clearTimeout(elm.onElementHeightChangeTimer);

		elm.onElementHeightChangeTimer = setTimeout(run, 200);
	})();
}


onElementHeightChange(document.body, function(){
  //alert('Body height changed');

  //Get window height and the wrapper height
      var neg = $('.main-header').outerHeight() + $('.main-footer').outerHeight();
      var window_height = $(window).height();
      //alert(window_height);
      //alert(document.documentElement.scrollHeight);
      window_height = document.documentElement.scrollHeight + 40;
      var sidebar_height = $(".sidebar").height();
      //Set the min-height of the content and sidebar based on the
      //the height of the document.

      if ($("body").hasClass("fixed")) {
        $(".content-wrapper, .right-side").css('min-height', window_height - $('.main-footer').outerHeight());
      } else {
        var postSetWidth;
        if (window_height >= sidebar_height) {
          $(".content-wrapper, .right-side").css('min-height', window_height - neg);
          postSetWidth = window_height - neg;
        } else {
          $(".content-wrapper, .right-side").css('min-height', sidebar_height);
          postSetWidth = sidebar_height;
        }

        //Fix for the control sidebar height
        var controlSidebar = $($.AdminLTE.options.controlSidebarOptions.selector);
        if (typeof controlSidebar !== "undefined") {
          if (controlSidebar.height() > postSetWidth)
            $(".content-wrapper, .right-side").css('min-height', controlSidebar.height());
        }

      }
});

</script>
{% endblock %}