{% if state != 'success' %}
<div class="col-sm-12">
{{ state|capfirst }}

{% if state == 'started' %}
<i class="fa fa-spinner fa-spin"></i>
{% endif %}
</div>


{% else %}

    {% for name in plots %}
    <div id="{{ name }}" class="col-sm-6">
        <a href="{% url 'biological_sample:plot_data' pk tax_id name %}"
        title="CSV table ({{ name }})"><i class="fa fa-table"></i></a>
    </div>

    <script>
    fetch('{% url 'biological_sample:plot' pk tax_id name %}')
    .then(function(response) { return response.json(); })
    .then(function(item) { Bokeh.embed.embed_item(item, "{{ name }}"); })
    </script>
    {% endfor %}

{% endif %}



