{% extends 'content.html' %}
{% load static %}


{% block content %}

<b>Biological sample id: </b> {{ identifier }}<br />
<br />
<div class="row state" pk="{{ pk }}" model="biological_sample_plots">
    <div class="col-sm-12">
    Pending
    </div>
</div>
<br /><br />

<div class="col-sm-3">
    <a href="{% url 'biological_sample:plots' 0 0%}"
       class='btn btn-primary btn btn-skin btn-flat'
       id="id_plots">
    <i class="fa fa-bar-chart"></i> All</a>

    <a href="{% url 'biological_sample:plots' 0 9606%}"
       class='btn btn-primary btn btn-skin btn-flat'
       id="id_plots">
    <i class="fa fa-bar-chart"></i> Human</a>

    <a href="{% url 'biological_sample:plots' 0 10090%}"
       class='btn btn-primary btn btn-skin btn-flat'
       id="id_plots">
    <i class="fa fa-bar-chart"></i> Mouse</a>

</div>
<br /><br /><br /><br />
Unique peptides based on the following criteria:
<ul>
    <li>Length: 8-15</li>
    <li>1% FDR on unique peptide sequences</li>
    <li>NetMHCpan 4.0 rank threshold: 2</li>
    <li>Removed decoy</li>
</ul>
<br />
Updated once a day.
<br /><br />
{% endblock %}


{% block page_js %}
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.bokeh.org/bokeh/release/bokeh-{{ bokeh_version }}.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-{{ bokeh_version }}.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-{{ bokeh_version }}.min.js"
    crossorigin="anonymous"></script>
<script src="{% static 'js/state.js' %}"></script>

<script>

timeout = 1000 * 1;

// URLs for state update
urls["biological_sample_plots"] = "{% url 'biological_sample:plots_state' 0 tax_id %}";
</script>

{% endblock %}