{% extends 'content.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-sm-6">
        <!-- Description box -->
        <div class="box">
            <div class="box-header with-border">

                <h3 class="box-title">
                    <i class="fa fa-list"></i>&nbsp;&nbsp;
                    Description</h3>

                <div class="pull-right">
                    {% if obj.change_permission %}
                    <a href="{% url 'biological_sample:edit' obj.pk %}"
                       id="id_link_biological_sample_edit">
                        <i class="fa fa-pencil fa-lg" title="Edit"></i>
                    </a>
                    {% endif %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {% if obj.delete_permission %}
                    <a href="{% url 'biological_sample:trash' obj.pk 'false'%}"
                    id="id_biological_sample_trash">
                        <i class="fa fa-trash fa-lg" title="Trash"></i>
                    </a>
                    {% endif %}
                    &nbsp;
                </div>

            </div>
            <!-- /.box-header -->

            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Identifier</dt>
                    <dd>{{ obj.identifier }}</dd>
                    <dt>Short description</dt>
                    <dd>{{ obj.short_description }}</dd>
                    <dt>Species</dt>
                    <dd>{{ obj.get_Species_display }}</dd>
                    <dt>Cell type</dt>
                    <dd>{{ obj.cell_type }}</dd>
                    <dt>Tissue</dt>
                    <dd>{{ obj.tissue }}</dd>
                    <dt>Organ</dt>
                    <dd>{{ obj.organ }}</dd>
                </dl>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->

    {% include 'mhc_pipeline/permission/tabs.html' %}

</div>
<!-- /.row -->



<div class="row">
    <div class="col-sm-6">
        <!-- MHC sample details box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-list"></i>&nbsp;&nbsp;
                    MHC sample details</h3>

                <div class="pull-right">
                    {% if obj.change_permission %}
                    <a href="{% url 'biological_sample:mhc_details' obj.pk %}"
                       id="id_mhc_sample_link">
                        <i class="fa fa-pencil fa-lg" title="Edit"></i>
                    </a>
                    {% endif %}
                    &nbsp;
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Group</dt>
                    <dd>{{ mhc_details.group }}</dd>
                    <dt>Gender</dt>
                    <dd>{{ mhc_details.get_gender_display }}</dd>
                </dl>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->

    <div class="col-sm-6">
        <!-- MHC alleles box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-list"></i>&nbsp;&nbsp;
                    MHC alleles</h3>

                <div class="pull-right">
                    {% if obj.change_permission %}
                    <a href="{% url 'biological_sample:mhc_allele' obj.pk %}"
                       id="id_mhc_allele_link">
                        <i class="fa fa-pencil fa-lg" title="Edit"></i>
                    </a>
                    {% endif %}
                    &nbsp;
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                {% for allele in mhc_alleles %}
                <div class="allele col-sm-6">
                    {{ allele.name }}
                </div>

                {% endfor %}
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->



<div class="row">

    <div class="col-md-12">


        <!-- Main Tabs -->
        <div class="nav-tabs-custom">

            <ul class="nav nav-tabs" id="tabs">
                <li>
                    <a href="#tab_experiments_details" data-toggle="tab"
                    data-url="{% url 'biological_sample:experiment_details_tabview' obj.pk %}">
                    <h4><i class="fa fa-book"></i>&nbsp;&nbsp;
                    Experiment details</h4></a>
                </li>
                <li>
                    <a href="#tab_genomics" data-toggle="tab"
                    data-url="{% url 'fileset:tabview' obj.pk 'BAM'%}">
                    <h4><i class="fa fa-file"></i>&nbsp;&nbsp;
                    Genomics</h4></a>
                </li>
                {% if genotyping %}
                <li>
                    <a href="#tab_genotyping" data-toggle="tab"
                    data-url="{% url 'genotyping:tabview' obj.pk %}">
                    <h4><i class="fa fa-list-alt"></i>&nbsp;&nbsp;
                    MHC genotyping</h4></a>
                </li>
                {% endif %}
                <li><a href="#tab_personalized_proteome" data-toggle="tab"
                       data-url="{% url 'pps:tabview' obj.pk %}">
                    <h4><i class="fa fa-book"></i>&nbsp;&nbsp;Personalized proteome</h4></a>
                </li>
                <li>
                    <a href="#tab_ms_raw" data-toggle="tab"
                    data-url="{% url 'fileset:tabview' obj.pk 'LC-MS'%}">
                    <h4><i class="fa fa-file"></i>&nbsp;&nbsp;
                    MS raw</h4></a>
                </li>
                <li>
                    <a href="#tab_identification" data-toggle="tab"
                    data-url="{% url 'identification:tabview' obj.pk %}">
                    <h4><i class="fa fa-list-alt"></i>&nbsp;&nbsp;
                    Identification</h4></a>
                </li>
                <li>
                    <a href="#tab_immunopeptidome" data-toggle="tab"
                    data-url="{% url 'immunopeptidome:tabview' obj.pk %}">
                    <h4><i class="fa fa-barcode"></i>&nbsp;&nbsp;
                    Immunopeptidome</h4></a>
                </li>
                <li>
                    <a href="#tab_quantification" data-toggle="tab"
                    data-url="{% url 'fileset:tabview' obj.pk 'PEAKS - features'%}">
                    <h4><i class="fa fa-file"></i>&nbsp;&nbsp;
                    Quantification</h4></a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="tab_experiments_details"></div>
                <div class="tab-pane" id="tab_genomics"></div>
                <div class="tab-pane" id="tab_genotyping"></div>
                <div class="tab-pane" id="tab_personalized_proteome"></div>
                <div class="tab-pane" id="tab_ms_raw"></div>
                <div class="tab-pane" id="tab_identification"></div>
                <div class="tab-pane" id="tab_immunopeptidome"></div>
                <div class="tab-pane" id="tab_quantification"></div>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->



    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<br/><br/>

{% endblock %}


{% block page_js %}
<script src="{% static 'js/tabs.js' %}"></script>
{% endblock %}
