
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px;
  background-color: #f5f5f5;

}

.footer-line {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px;
  background-color: #FFFFFF;

}

.auth-bg {
    background-color:#FFFFFF;
}


.content-header-custom {

    position: relative;
    padding: 25px 15px 0 15px;
}




/* Skin color matched button */
.skin-purple .btn-skin {
    background-color: #605ca8;
    color: white;
}


.skin-blue .btn-skin {
    background-color: #3c8dbc;
    color: white;
}

.skin-black .btn-skin {
    background-color: #222d32;
    color: white;
}

.skin-red .btn-skin {
    background-color: #dd4b39;
    color: white;
}

.skin-yellow .btn-skin {
    background-color: #f39c12;
    color: white;
}

.skin-green .btn-skin {
    background-color: #00a65a;
    color: white;
}


.btn-skin:hover {
  opacity: 0.8;
}



.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding : 0px;
    margin-left: 0px;
    display: inline;
    border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
}





.allele {
    border-radius: 0;
    background-color: #f4f4f4;
    padding: 1px 10px;
    color: #444;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 6px 12px;
}


.validation-green {
    color: #00a65a !important;
}

.validation-yellow {
    color: #f39c12 !important;
}

.validation-red {
    color: #dd4b39 !important;
}