{% load crispy_forms_field %}

<div id="div_id_identification" class="form-group">

    <label for="{{ field.id_for_label }}" class="control-label col-md-2 {% if field.field.required %} requiredField{% endif %}">
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
    </label>
    <div class="control-label col-md-10">
        <div class="controls">
            {% crispy_field field %}
            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
        </div>
    </div>
</div>