{% extends 'content.html' %}


{% block head_title %}Dashboard{% endblock %}

{% block content_title%}Dashboard{% endblock %}
{% block content_icon%}<i class="fa fa-dashboard pull-right"></i>{% endblock %}


{% block content %}
<div class="row">
    <!-- Column 1 --------------------------------------------------------->
    <div class="col-sm-6">

        <!-- Greeting box --------------------------------------------------------->

        <div class="col-sm-12">

            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-child"></i>
                        &nbsp;&nbsp;Welcome!</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"
                                data-toggle="tooltip" title="Collapse"><i
                                class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"
                                data-toggle="tooltip" title="Remove"><i
                                class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    Hello {{ request.user }},<br/><br/>
                    Welcome to the MHC-associated peptide discovery platform (<b>MAP</b>DP).
                    <br/><br/>
                    Start your visit in the <b>Biological sample</b> section.
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /.box -->
        </div>


                <!-- News and update box -------------------------------------------------->
        <div class="col-sm-12">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-refresh"></i>&nbsp;&nbsp;
                        News & updates</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"
                                data-toggle="tooltip" title="Collapse"><i
                                class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"
                                data-toggle="tooltip" title="Remove"><i
                                class="fa fa-times"></i></button>
                    </div>
                </div>

                <div class="box-footer box-comments">
                    {% for new in news %}
                    <div class="box-comment">
                        <!-- User image -->
                        <i class="fa fa-user fa-2x img-circle img-sm"></i>

                        <div class="comment-text">
                      <span class="username">
                        {{ new.created_by }}
                        <span class="text-muted pull-right">{{ new.created_at }}</span>
                      </span><!-- /.username -->
                            {{ new.short_message}}
                        </div>
                        <!-- /.comment-text -->
                    </div>
                    {% endfor %}
                    <!-- /.box-comment -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                </div>
                <!-- /.box-footer-->

                <!-- /.box -->
            </div>

        </div>

        <!-- Stats box -------------------------------------------------->
        <div class="col-sm-6">

            <!-- Sample box -->
            <div class="small-box btn-skin">
                <div class="inner">
                    <h3>{{ biological_sample_count }}</h3>

                    <p>Biological samples</p>
                </div>
                <div class="icon">
                    <i class="fa fa-flask"></i>
                </div>
                <a href="{% url 'biological_sample:list' %}"
                   class="small-box-footer">
                    List <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <div class="col-sm-6">

            <!-- File box -->
            <div class="small-box btn-skin">
                <div class="inner">
                    <h3>{{ file_count }}</h3>

                    <p>Linked files</p>
                </div>
                <div class="icon">
                    <i class="fa fa-files-o"></i>
                </div>
                <a href="#" class="small-box-footer">
                    &nbsp;
                </a>
            </div>
        </div>

        <div class="col-sm-6">

            <!-- PSM scan box -->
            <div class="small-box btn-skin">
                <div class="inner">
                    <h3>{{ msms_count }}</h3>

                    <p>Peptide spectrum matches</p>
                </div>
                <div class="icon">
                    <i class="fa fa-bar-chart"></i>
                </div>
                <a href="#" class="small-box-footer">
                    &nbsp;
                </a>
            </div>
        </div>

        <div class="col-sm-6">

            <!-- Peptides box -->
            <div class="small-box btn-skin">
                <div class="inner">
                    <h3>{{ unique_peptide_count }}</h3>

                    <p>Unique peptides (unfiltered with decoys)</p>
                </div>
                <div class="icon">
                    <i class="fa fa-ellipsis-h"></i>
                </div>
                <a href="#" class="small-box-footer">
                    &nbsp;
                </a>
            </div>
        </div>

    </div>
    <!-- Column 2 --------------------------------------------------------->
    <div class="col-sm-6">


        <!-- Publication box -------------------------------------------------->
        <div class="col-sm-12">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;
                        Project latest publications</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"
                                data-toggle="tooltip" title="Collapse"><i
                                class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"
                                data-toggle="tooltip" title="Remove"><i
                                class="fa fa-times"></i></button>
                    </div>
                </div>

                <div class="box-footer box-comments">
                    {% for publication in publications %}
                    <div class="box-comment">
                            {{ publication|safe }}
                    </div>
                    {% endfor %}
                    <!-- /.box-comment -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                </div>
                <!-- /.box-footer-->

                <!-- /.box -->
            </div>

        </div>
    </div>
</div>

{% endblock %}