{% extends 'content.html' %}


{% block content %}

<div class="col-sm-12">
{% block list_table_above %}
{% endblock %}
</div>
<div class="col-sm-12">
    <!-- List box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">List</h3>



            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"
                        data-toggle="tooltip" title="Collapse"><i
                        class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
            <table id="list_table" class="table table-bordered table-striped">
                {% block list_table %}
                {% endblock %}
            </table>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">

        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

    {% block list_table_below %}
    {% endblock %}
</div>



{% endblock %}

{% block page_js %}
<!-- page script -->
<script>
      $(function () {
        $('#list_table').DataTable({
          "paging": true,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "order": [[ 1, "asc" ]],
          "info": true,
          "autoWidth": false,
          "pageLength": 10,
        });
      });

</script>
{% endblock %}