{% extends 'content.html' %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="col-sm-6">
        <!-- Default box -->
        <div class="box box-warning">
            <div class="box-header with-border">
                {% if confirmed != 'true' %}
                <i class="icon fa fa-warning"></i><h3 class="box-title"> Please confirm that you really want to trash the selected item</h3>
                {% else %}
                <i class="icon fa fa-trash"></i><h3 class="box-title"> The selected item was trashed</h3>
                {% endif %}
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"
                            data-toggle="tooltip" title="Collapse"><i
                            class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-footer">
                {% if confirmed != 'true' %}
                <div class="pull-right">
                    <a href="{% url view.request.resolver_match.view_name obj.pk 'true'%}"
                       class='btn btn-block btn-warning btn-flat'>
                        <i class="fa fa-trash"></i>&nbsp;&nbsp;{% trans 'Trash' %}</a>
                </div>
                <div class="pull-left">
                    <a href="{{ request.META.HTTP_REFERER }}"
                       class='btn btn-block btn-warning btn-flat'>
                        <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{% trans 'Cancel' %}</a>
                </div>

                {% else %}
                    {% if return_url %}
                    <div class="pull-left">
                        <a href="{{ return_url }}"
                           class='btn btn-block btn-warning btn-flat'>
                            <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;{{ return_name }}</a>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
            <!-- /.box-footer-->

        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
{% endblock %}
