<h4><i class="fa fa-cog"></i>&nbsp;&nbsp;Search parameters</h4>

<br />
<h5>Identification id: {{ obj.pk }}</h5>
<br /><br />


<div class="row">

    {% if error %}
    <div class="col-sm-12">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-ban"></i> Error</h4>
            {{ error }}
        </div>
    </div>

    {% else %}
    <div class="col-sm-6">
        <table>
            <tr>
                <td width="200"><b>Parent tolerance</b></td>
                <td>{{ parent_tolerance }} {{ parent_tolerance_unit }}</td>
            </tr>
            <tr>
                <td><b>Fragment tolerance</b></td>
                <td>{{ fragment_tolerance }} {{ fragment_tolerance_unit }}</td>
            </tr>
            <tr>
                <td><b>Enzyme</b></td>
                <td>{{ enzyme_name }}</td>
            </tr>

            {% if enzyme_name != 'NoEnzyme' %}
            <tr>
                <td><b>Enzyme regular expression</b></td>
                <td>{{ enzyme_regexp }}</td>
            </tr>
            <tr>
                <td><b>Missed cleavages</b></td>
                <td>{{ missed_cleavages }}</td>
            </tr>
            <tr>
                <td><b>Semi-specific</b></td>
                <td>{{ semi_specific }}</td>
            </tr>
            {% endif %}
            <tr>
                <td valign="top"><b>Protein database</b></td>
                <td>{% if db.name %}
                    {{ db.name }}<br />
                    {{ db_location }}<br />
                    {{ db.num_sequences }} sequences
                    {% endif %}
                </td>
            </tr>

        </table>
    </div>


    <div class="col-sm-6">
        <table>
            <tr>
                <td width="200" valign="top"><b>Modifications</b></td>
                <td><ul>
                    {% for modification in modifications %}
                    {{ modification.name }} ({{ modification.residues }}, {{ modification.mass_delta }}, {{ modification.fixed }})<br />
                    {% endfor %}
                </ul></td>
            </tr>
        </table>
    </div>
    {% endif %}
</div>