{% load static %}

<div class="row">
    <div class="col-md-12">

        <!-- Identifications box -->
        <div class="box box-solid">

             <div class="box-header with-border">
                {% if obj.change_permission and add_permission %}
                <div class="pull-right">
                    <a href="{% url 'fileset:create' 'biologicalsample' obj.pk set_classes%}"
                    id="id_add_fileset">
                        <i class="fa fa-plus fa-lg" title="Add"></i>
                    </a>
                    &nbsp;
                </div>
                {% endif %}
            </div>

            <div class="box-body">
                <form id="frm-identifications" method="get" action="{% url 'identification:view' %}">
                    {% csrf_token %}


                    <table id="id_identifications_table"
                           class="table table-bordered table-striped">
                        <thead>
                        <tr>
                        <th class="col-sm-1" style="text-align: center;">
                            <button type="submit" title="View" id="id_submit"><i class="fa fa-eye fa-lg"></i></button>
                            <br /><input name="select_all" value="1" type="checkbox">
                        </th>
                        <th>Id</th>
                        <th>File set</th>
                        <th>Software</th>
                        <th>Import Date Time</th>
                        <th>State</th>
                        <th></th>
                        <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for id in identification_set %}

                        <tr>
                            <td>{{ id.pk }}</td>
                            <td>{{ id.pk }}</td>
                            <td>{{ id.file_set.name }}</td>
                            <td>{{ id.software }}</td>
                            <td>{{ id.created_at }}</td>
                            <td><div class="state" pk="{{ id.pk }}" model="identification">{{ id.state| capfirst }}
                                {% if id.state == 'failed' %}
                                <i class="fa fa-info-circle text-red" title="{{ id.message }}"></i>
                                {% elif id.state == 'started' %}
                                <i class="fa fa-spinner fa-spin"></i>
                                {% endif %}
                            </div>
                            </td>
                            <td>&nbsp;
                                <a href="#extra" class="show_files" onclick="showFiles({{ id.file_set.pk }})"><i class="fa fa-file"></i></a>&nbsp;&nbsp;

                                {% if 'PEAKS' in id.software %}
                                <a href="#extra" class="show_parameters" onclick="showSettings({{ id.pk }})"><i class="fa fa-cog"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if obj.change_permission %}
                                <div class="pull-right">
                                    <a href="{% url 'identification:trash' id.pk 'false'%}"
                                       class="identification_trash_link">
                                        <i class="fa fa-trash text-red" title="Trash"></i>
                                    </a>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <input type="hidden" name="ref_url" value="{{ obj.get_absolute_url }}" />
                    <input type="hidden" name="bs_pk" value="{{ obj.pk }}" />

                </form>

                <div class="col-sm-3 pull-right">
                    <a href="{% url 'biological_sample:plots' obj.pk obj.Species %}"
                       class='btn btn-primary btn btn-block btn-skin btn-flat btn-lg'
                       id="id_plots">
                    <i class="fa fa-bar-chart"></i> Exploratory plots</a>
                </div>

                <br /><br />
                <a name="extra"></a>
                <div id="id_extra"></div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
    <!-- /.col -->
</div>
<!-- /.row -->




<script src="{% static 'js/checkbox.js' %}"></script>

<script src="{% static 'js/state.js' %}"></script>
<script>

spinner = '<div style="text-align:center"><i class="fa fa-spinner fa-spin fa-2x"></i></div>';

// URLs for state update
urls["identification"] = "{% url 'identification:state' 0 %}";

function showFiles(value) {

    $("#id_extra").html(spinner);

    url = '{% url 'fileset:view_files' 'biologicalsample' obj.pk 0 %}';
    url = url.replace("/0/", "/" + value + "/");
    $("#id_extra").load(url);
}

function showSettings(value) {

    $("#id_extra").html(spinner);

    url = '{% url 'identification:settings' 0 %}';
    url = url.replace("/0/", "/" + value + "/");
    $("#id_extra").load(url);
}
</script>