{% extends 'content.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load time %}


{% block content %}


{% if ref_url %}
<div class="pull-right">
<a href="{{ ref_url }}" class='btn btn-block btn-skin btn-flat'>
    <i class="fa fa-arrow-left"></i>&nbsp;Return to biological sample</a>
<br />
</div>
{% endif %}

{% if identification_key %}



<div class="row">

    <div id="download_div" class="pull-right" style="display: none;">
{% if deconvolution_motif %}
        <a href="{% url 'identification:logos' identification_key 'logos.html' %}" class="btn btn-skin btn-flat" target="_blank">
            <i class="fa fa-eye"></i> View motifs</a>
{% endif %}
        <a href="{% url 'identification:csv' identification_key %}" class="btn btn-skin btn-flat">
            <i class="fa fa-download"></i> Download CSV</a>
    </div>
    <div id="processing_div" class="col-md-12" style="text-align: center;"><h4>Processing data set <i class="fa fa-spinner fa-spin"></i></h4><br /></div>

</div>
<div class="row">
    <div class="col-md-12">

        <div class="box box-solid" id="identification_div"
             style="display: none;">


            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-list-alt"></i>&nbsp;&nbsp;
                    Identifications</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"
                            data-toggle="tooltip" title="Collapse"><i
                            class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->


            <div class="box-body">
                <div id="columns_toggle"></div>

                <table id="identification_table" class="table table-bordered table-striped">
                    <thead id="identification_table_head"></thead>
                </table>


            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div id="db_div"></div>
                <div id="mhc_threshold_div"></div>
                <div id="score_div"></div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->


{% endif %}

<div class="row">

    <div class="col-md-12">


        <div class="box box-solid">


            <div class="box-header with-border">
                &nbsp;
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"
                            data-toggle="tooltip" title="Collapse"><i
                            class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                <form id="id_identification_filter" class="form-horizontal"
                      method="get">
                    {% crispy form %}

                    <input type="hidden" name="filter" value="true"/>
                </form>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

{% endblock %}


{% block page_js %}
<!-- page script -->
<script src="{% static 'js/jquery.csv.js' %}"></script>

<script>

{% if identification_key %}

timeout = 500;
columns_count = 0;

function set_columns(data) {
    /*
    Prepares columns name for toggle and table header
    */

    var columns = data['columns']
    columns_count = columns.length;

    var items_toogle = [];
    var items_table = [];
    $.each( columns, function( key, value ) {
        items_toogle.push("<a class='toggle-vis' data-column='" + key + "'>" + value + "</a>" );
        items_table.push("<th>" + value + "</th>" );
    });

    var div_content = "Toggle column: " + items_toogle.join(" - ") + "<br/><br/>";

    $("#columns_toggle").html(div_content);
    $("#identification_table_head").html("<tr>" + items_table.join("") + "</tr>");


}

function get_identifications() {
    /*
    Retrieves identifications and check task status
    */

    $.getJSON( "{% url 'identification:task' identification_key %}", function( data ) {

        if( data == "None") {
            setTimeout(get_identifications, timeout);

            if(timeout < 60000 ) {
                timeout += 500;
            }

        }
        else if(data['status'] == 'failed') {
            $('#processing_div').html('<h3 style="color: red;">Processing failed: ' + data['error'] + '</h3>');
        }
        else if(data['peptide_count'] > 100000) {
            $('#processing_div').html('<h4 style="color: red;">Too many peptides to display. Please download.</h4>');
            $('#download_div').fadeIn(500);
        }
        else if(data['status'] == 'finished') {

            {% if download %}
            window.location.href = "{% url 'identification:csv' identification_key %}";
            $('#processing_div').fadeOut(500);
            {% else %}

            set_columns(data);
            set_table();



            if (data['score_threshold']) {
                $("#score_div").html("Peptide score &ge;" + data['score_threshold']);
            }

            if (data['mhc_threshold']) {
                $("#mhc_threshold_div").html("MHC binding affinity &lt; " + data['mhc_threshold'] + " nM<br/>");
            }

            if ( data['db'] ) {
                var items = [];
                $.each( data['db'], function( key, db ) {
                    items.push("<li>Id: " + db['id'] + " - " + db['name'] + " (" +  db['location'].replace("file:/", "") + ")</li>");
                });

                $("#db_div").html("<b>Protein databases</b><br/><ul> " + items.join("") + "</ul>");
            }
            {% endif %}

        }



    });
}

$( document ).ready(function() {
    get_identifications();
});


function set_table() {
    var csvData = '';

    $.ajax({
        async: false,
        cache: true,
        type: "GET",
        url: "{% url 'identification:csv' identification_key %}",
        dataType: "text",
        success: function (data) {

            if(data == 'No result') {
                alert('No result found. Something went wrong. Try again or report this report.');
            }
            else {
                csvData = data;
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            alert('Error: ' + textStatus + ': ' + errorThrown);
        }
    });

    // Remove header
    csvData = csvData.replace(/^.+?\n.+?\n.+?\n/, '');

    var dataSet = $.csv.toArrays(csvData);

    var colors = [];
    colors['G'] = 'validation-green';
    colors['Y'] = 'validation-yellow';
    colors['R'] = 'validation-red';
    colors['None'] = '';

    $.each(dataSet, function(key, value) {
        url  = value[value.length - 1 ];
        validated = value[19];
        url = '<a href="' + url + '" class="id_msms_link ' + colors[validated] + '"  target="_blank"><i class="fa fa-bar-chart "></i></a>';
        value[value.length - 1 ] = url;


    });


  $(function () {
    var table =   $('#identification_table').DataTable({
        data: dataSet,
        "sScrollY":  ( 0.6 * $(window).height() ),
        "bScrollCollapse": true,
        "sScrollX": "100%",
        "sScrollXInner": "100%",

        "bDeferRender": true,
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "pageLength": 100,
        dom: 'Bfrtip',
        buttons: [],
    });

    setTimeout(function ()
    {
        $('#processing_div').fadeOut(500);
        $('#download_div').fadeIn(500);
        $('#identification_div').fadeIn(500);
        table.columns.adjust().draw();
    }, 10 );


    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();

        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( ! column.visible() );
    } );

    // Hide some column on start-up
    table.column(0).visible(false);
    table.column(1).visible(false);
    table.column(3).visible(false);
    table.column(4).visible(false);
    table.column(5).visible(false);
    table.column(6).visible(false);
    table.column(10).visible(false);
    table.column(17).visible(false);
    table.column(18).visible(false);
    table.column(19).visible(false);
    table.column(20).visible(false);
    table.column(21).visible(false);
    table.column(22).visible(false);
    table.column(23).visible(false);
    table.column(24).visible(false);

    if (columns_count == 27) {
        table.column(25).visible(false);
    }
  });

}
{% endif %}

$( document ).ready(function() {

    // Format form layout

    $("#div_id_file").find( "label" ).attr('class', 'control-label col-md-2');;
    $("#div_id_file").find( "div" ).attr('class', 'control-label col-md-10');;

    $("#div_id_file_action").find( "label" ).attr('class', 'control-label col-md-2');;
    $("#div_id_file_action").find( "div" ).attr('class', 'control-label col-md-10');;

});






</script>
{% endblock %}