{% extends 'content.html' %}
{% load i18n %}


{% block content %}
<div class="row">
    <div class="col-sm-5">
        <h3>Name: {{ name }}</h3>
    </div>
</div>
<div class="row">
    {% if class_name != 'Fasta' %}
    <div class="col-sm-5">
        <!-- box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Directories
                </h3>
                {% if subdir != '/' %}
                <div class="box-tools pull-right">
                    <small><a href="{% url 'fileset:browse' content_type ct_pk fs_pk subdir|add:'<--' %}"><i class="fa fa-arrow-left"></i> Previous</a></small>
                </div>
                {% endif %}

            </div>
            <!-- /.box-header -->

            <div class="box-body">

                <table id="directories_table"
                       class="table table-bordered table-striped">

                    <thead>
                    <th>Name</th>
                    </thead>
                    <tbody>
                    {% for d in directories %}
                    <tr>
                        <td><a href="{% url 'fileset:browse' content_type ct_pk fs_pk subdir|add:d %}/">{{ d }}</a></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
            </div>
            <!-- /.box-footer-->

        </div>
        <!-- /.box -->

    </div>
    <!-- /.col -->
    {% endif %}

    <div class="col-sm-7">

        {% if fileset_note %}
        <div class="callout callout-info" style="margin-bottom: 0!important;">
        <h4><i class="fa fa-info"></i> Note:</h4>
        {{ fileset_note }}
        </div>
        <br />
        {% endif %}

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Files</h3>
            </div>
            <!-- /.box-header -->

            <form id="frm-files" method="post" action=".">
                {% csrf_token %}
                <input type="hidden" name="content_type" value="{{ content_type }}" />
                <input type="hidden" name="ct_pk" value="{{ ct_pk }}" />
                <input type="hidden" name="fs_pk" value="{{ fs_pk }}" />
                <input type="hidden" name="subdir" value="{{ subdir }}" />
            <div class="box-body">

                <table id="files_table"
                       class="table table-bordered table-striped">

                    <thead>
                    <th class="col-sm-1"><input name="select_all" value="1" type="checkbox"></th>
                    <th>Name</th>
                    </thead>
                    <tbody>
                    {% for f in files %}
                    <tr>
                        <td>{{ f.pk }}</td>
                        <td>{{ f.name }}</td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <input class='btn btn-skin btn-flat pull-right' type="submit" id="id_submit" value="{% trans 'Add' %}"/>
            </div>
            </form>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

{% endblock %}


{% block page_js %}
<!-- page script -->
<script>
      $(function () {
        $('#directories_table').DataTable({
          "paging": false,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false,
          "pageLength": 100,
        });
      });



//
// Updates "Select all" control in a data table
//
function updateDataTableSelectAllCtrl(table){
   var $table             = table.table().node();
   var $chkbox_all        = $('tbody input[type="checkbox"]', $table);
   var $chkbox_checked    = $('tbody input[type="checkbox"]:checked', $table);
   var chkbox_select_all  = $('thead input[name="select_all"]', $table).get(0);

   // If none of the checkboxes are checked
   if($chkbox_checked.length === 0){
      chkbox_select_all.checked = false;
      if('indeterminate' in chkbox_select_all){
         chkbox_select_all.indeterminate = false;
      }

   // If all of the checkboxes are checked
   } else if ($chkbox_checked.length === $chkbox_all.length){
      chkbox_select_all.checked = true;
      if('indeterminate' in chkbox_select_all){
         chkbox_select_all.indeterminate = false;
      }

   // If some of the checkboxes are checked
   } else {
      chkbox_select_all.checked = true;
      if('indeterminate' in chkbox_select_all){
         chkbox_select_all.indeterminate = true;
      }
   }
}


$(document).ready(function (){
   // Array holding selected row IDs
   var rows_selected = [];


   var table = $('#files_table').DataTable({
      'columnDefs': [{
         'targets': 0,
         'searchable':false,
         'orderable':false,
         'className': 'dt-body-center',

         'render': function (data, type, full, meta){
             return '<input type="checkbox" id="id_box_' + data + '">';
         }
      }],
      'rowCallback': function(row, data, dataIndex){
         // Get row ID
         var rowId = data[0];

         // If row ID is in the list of selected row IDs
         if($.inArray(rowId, rows_selected) !== -1){
            $(row).find('input[type="checkbox"]').prop('checked', true);
            $(row).addClass('selected');
         }
      }
   });

   // Handle click on checkbox
   $('#files_table tbody').on('click', 'input[type="checkbox"]', function(e){
      var $row = $(this).closest('tr');

      // Get row data
      var data = table.row($row).data();

      // Get row ID
      var rowId = data[0];

      // Determine whether row ID is in the list of selected row IDs
      var index = $.inArray(rowId, rows_selected);

      // If checkbox is checked and row ID is not in list of selected row IDs
      if(this.checked && index === -1){
         rows_selected.push(rowId);

      // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
      } else if (!this.checked && index !== -1){
         rows_selected.splice(index, 1);
      }

      if(this.checked){
         $row.addClass('selected');
      } else {
         $row.removeClass('selected');
      }

      // Update state of "Select all" control
      updateDataTableSelectAllCtrl(table);

      // Prevent click event from propagating to parent
      e.stopPropagation();
   });

   // Handle click on table cells with checkboxes
   $('#files_table').on('click', 'tbody td, thead th:first-child', function(e){
      $(this).parent().find('input[type="checkbox"]').trigger('click');
   });

   // Handle click on "Select all" control
   $('#files_table thead input[name="select_all"]').on('click', function(e){
      if(this.checked){
         $('#files_table tbody input[type="checkbox"]:not(:checked)').trigger('click');
      } else {
         $('#files_table tbody input[type="checkbox"]:checked').trigger('click');
      }

      // Prevent click event from propagating to parent
      e.stopPropagation();
   });

   // Handle table draw event
   table.on('draw', function(){
      // Update state of "Select all" control
      updateDataTableSelectAllCtrl(table);
   });

   // Handle form submission event
   $('#frm-files').on('submit', function(e){
      var form = this;

      // Iterate over all selected checkboxes
      $.each(rows_selected, function(index, rowId){
         // Create a hidden element
         $(form).append(
             $('<input>')
                .attr('type', 'hidden')
                .attr('name', 'id[]')
                .val(rowId)
         );
      });
   });

});


</script>
{% endblock %}