{% extends 'content.html' %}
{% load crispy_forms_tags %}
{% load static %}




{% block content %}


<div class="row">
    <div class="col-sm-{{ view.column_width }}">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ view.action }} to biological sample: {{ identifier }}</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"
                            data-toggle="tooltip" title="Collapse"><i
                            class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">

  {% csrf_token %}
  <input id="chunked_upload" type="file" name="the_file" accept="{{ extensions }}">






            </div>
            <!-- /.box-body -->

            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<div class="row">

    <div class="col-sm-12">
        <p id="progress"></p>
        <div id="messages"></div>

        <br />
        <div id="return_div" style="display: none;">
            <a href="{% url 'biological_sample:view' ct_pk %}" class='btn btn-skin btn-flat'>
            <i class="fa fa-arrow-left"></i>&nbsp;Return to biological sample</a>
        </div>
    </div>

</div>



{% endblock %}

{% block page_js %}
  <!-- Adapted from https://github.com/juliomalegria/django-chunked-upload-demo -->
  <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
  <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
  <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
  <!-- The basic File Upload plugin -->
  <script src="{% static 'js/jquery.fileupload.js' %}"></script>
  <!-- Calculate md5 -->
  <script src="{% static 'js/spark-md5.js' %}"></script>

  <script type="text/javascript">
    var md5 = "",
        csrf = $("input[name='csrfmiddlewaretoken']")[0].value,
        form_data = [{"name": "csrfmiddlewaretoken", "value": csrf}];
    function calculate_md5(file, chunk_size) {
      var slice = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice,
          chunks = chunks = Math.ceil(file.size / chunk_size),
          current_chunk = 0,
          spark = new SparkMD5.ArrayBuffer();
      function onload(e) {
        spark.append(e.target.result);  // append chunk
        current_chunk++;
        if (current_chunk < chunks) {
          read_next_chunk();
        } else {
          md5 = spark.end();
        }
      };
      function read_next_chunk() {
        var reader = new FileReader();
        reader.onload = onload;
        var start = current_chunk * chunk_size,
            end = Math.min(start + chunk_size, file.size);
        reader.readAsArrayBuffer(slice.call(file, start, end));
      };
      read_next_chunk();
    }
    $("#chunked_upload").fileupload({
      url: "{% url 'fileset:chunked_upload' content_type ct_pk fs_pk class_name %}",
      dataType: "json",
      maxChunkSize: 10000000, // Chunks of 10 MB
      formData: form_data,
      add: function(e, data) { // Called before starting upload
        $("#messages").empty();
        // If this is the second file you're uploading we need to remove the
        // old upload_id and just keep the csrftoken (which is always first).
        form_data.splice(1);
        calculate_md5(data.files[0], 10000000);  // Again, chunks of 10 MB
        data.submit();
      },
      chunkdone: function (e, data) { // Called after uploading each chunk
        if (form_data.length < 2) {
          form_data.push(
            {"name": "upload_id", "value": data.result.upload_id}
          );
        }
        //$("#messages").append($('<p>').text(JSON.stringify(data.result)));
        var progress = parseInt(data.loaded / data.total * 100.0, 10);
        $("#progress").text(Array(progress).join("=") + "> " + progress + "%");
      },
      done: function (e, data) { // Called when the file has completely uploaded
        $("#messages").append($('<p>').text('Upload completed. Checking file integrity...'));
        $.ajax({
          type: "POST",
          url: "{% url 'fileset:chunked_upload_complete' content_type ct_pk fs_pk class_name %}",
          data: {
            csrfmiddlewaretoken: csrf,
            upload_id: data.result.upload_id,
            md5: md5
          },
          dataType: "json",
          success: function(data) {
            $("#progress").text("");
            $("#messages").append($('<p>').text(data['message']));
            $('#return_div').fadeIn(500);
          }
        });
      },
    });
  </script>

{% endblock %}