<h4><i class="fa fa-file"></i>&nbsp;&nbsp;Files</h4>

<br />
<b>File set:</b> {{ file_set.name }}
<br /><br />

<table class="table table-condensed">
    <thead>
    <th>
        <a href="
        {% url 'fileset:send_files' 'biologicalsample' obj.pk file_set.pk %}
        " id="id_send_files_link"><i class="fa fa-download" title="Download files"></i></a>
    </th>
    <th>Name</th>
    <th>Path</th>
    <th>Size</th>
    <th>Date Time</th>
    <th>Available
        <a href="
        {% url 'fileset:refresh' 'biologicalsample' obj.pk file_set.pk %}
        " id="id_fileset_refresh"><i
                class="fa fa-refresh"></i></a>
    </th>
    </thead>
    <tbody>
    {% for file in file_set.file_set.all %}

    <tr>
        <td>
            {% if file.available %}
            <a href="
        {% url 'fileset:send_file' 'biologicalsample' obj.pk file_set.pk file.pk %}
        "
               id="id_send_file_link"><i
                    class="fa fa-download"
                    title="Download"></i></a>
            {% endif%}
        </td>
        <td>{{ file.name }}</td>
        <td>{{ file.path }}</td>
        <td>{{ file.size|filesizeformat }}</td>
        <td>{{ file.date_time }}</td>
        <td>
            {% if file.available %}
            <i class="fa fa-check text-green"></i>
            {% else %}
            <i class="fa fa-close text-red"></i>
            {% endif%}
        </td>

    </tr>
    {% endfor %}

    </tbody>
</table>
