
<div class="row">

    <div class="col-md-12">

        <!-- Data file sets box -->
        <div class="box box-solid">

            <div class="box-header with-border">
                {% if obj.change_permission and add_permission %}
                <div class="pull-right">
                    <a href="{% url 'fileset:create' 'biologicalsample' obj.pk set_classes%}"
                    id="id_add_fileset">
                        <i class="fa fa-plus fa-lg" title="Add"></i>
                    </a>
                    &nbsp;
                </div>
                {% endif %}
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    {% for file_set in file_sets %}
                    <div class="panel box box-primary">
                        <div class="box-header with-border">

                            <h4 class="box-title">
                                <a data-toggle="collapse"
                                   data-parent="#accordion"
                                   href="#collapse_{{ file_set.set_class }}_{{ forloop.counter }}">
                                    {{ file_set.name }}
                                </a>
                            </h4>

                            <div class="pull-right">
                                {{ file_set.created_at }}
                            </div>

                        </div>
                        <div id="collapse_{{ file_set.set_class }}_{{ forloop.counter }}"
                             class="panel-collapse collapse">
                            <div class="box-body">

                                <table class="table table-condensed">
                                    <thead>
                                    <th>
                                        <a href="
                                        {% url 'fileset:send_files' 'biologicalsample' obj.pk file_set.pk %}
                                        " id="id_send_files_link"><i class="fa fa-download" title="Download files"></i></a>
                                    </th>
                                    <th>Name</th>
                                    <th>Path</th>
                                    <th>Size</th>
                                    <th>Date Time</th>
                                    <th>Available
                                        <a href="
                                        {% url 'fileset:refresh' 'biologicalsample' obj.pk file_set.pk %}
                                        " id="id_fileset_refresh"><i
                                                class="fa fa-refresh"></i></a>
                                    </th>
                                    <th>
                                        {% if obj.change_permission and file_set.locked == False %}
                                        <a href="{% url 'fileset:trash' 'biologicalsample' obj.pk file_set.pk %}"
                                        id="id_fileset_trash_link"><i class="fa fa-trash text-red"
                                       title="Trash file set"></i>
                                        </a>
                                        {% endif %}
                                    </th>
                                    </thead>
                                    <tbody>
                                    {% for file in file_set.file_set.all %}

                                    <tr>
                                        <td>
                                            {% if file.available %}
                                            <a href="
                                        {% url 'fileset:send_file' 'biologicalsample' obj.pk file_set.pk file.pk %}
                                        "
                                               id="id_send_file_link"><i
                                                    class="fa fa-download"
                                                    title="Download"></i></a>
                                            {% endif%}
                                        </td>
                                        <td>{{ file.name }}</td>
                                        <td>{{ file.path }}</td>
                                        <td>{{ file.size|filesizeformat }}</td>
                                        <td>{{ file.date_time }}</td>
                                        <td>
                                            {% if file.available %}
                                            <i class="fa fa-check text-green"></i>
                                            {% else %}
                                            <i class="fa fa-close text-red"></i>
                                            {% endif%}
                                        </td>
                                        <td>
                                            {% if obj.change_permission and file_set.locked == False %}
                                            <a href="{% url 'fileset:remove_file' 'biologicalsample' obj.pk file_set.pk file.pk %}"
                                               id="id_remove_file_link">
                                                <i class="fa fa-trash text-red"
                                                   title="Trash"></i>
                                            </a>
                                        </td>
                                        {% endif %}


                                    </tr>
                                    {% endfor %}

                                    {% if obj.change_permission and file_set.locked == False %}
                                        {% if file_set.set_class != 3 or file_set.set_class != 8 or request.user.is_superuser %}
                                        <tr>
                                            <td colspan="6">
                                                <a href="{% url 'fileset:browse' 'biologicalsample' obj.pk file_set.pk '/' %}">
                                                    <i class="fa fa-plus"></i>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add files
                                                </a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

