<table class="table table-condensed" id="id_permission_panel">
    <thead>
    <th>User</th>
    <th><i class="glyphicon glyphicon-eye-open fa-1d5x" title="View"></i></th>
    <th><i class="fa fa-pencil fa-1d5x" title="Edit"></i></th>
    <th><i class="fa fa-trash fa-1d5x" title="Trash"></i></th>
    </thead>
    <tbody>
    {% for display_perm in users_perms %}
    <tr>
        <td>{{display_perm.name }}</td>
        <td>{{display_perm.view }}</td>
        <td>{{display_perm.change }}</td>
        <td>{{display_perm.delete }}</td>
        {% if edit_perm %}
        <td>
            <a href="{% url 'permission_update' 'user' display_perm.pk obj.content_type obj.pk %} "
                    id="id_link_permission_user"><i
                    class="fa fa-pencil" title="Modify"></i></a></td>
        {% endif %}
    </tr>
    {% endfor %}
    {% if edit_perm %}
    <tr>
        <td>
            <a href="{% url 'permission_update' 'user' 0 obj.content_type obj.pk %}"
            id="id_link_permission_add_user"><i
                    class="fa fa-plus" title="Add user"></i></a></td>
    </tr>
    {% endif %}
    </tbody>
    <thead>
    <th>Group</th>
    <th><i class="glyphicon glyphicon-eye-open fa-1d5x" title="View"></i></th>
    <th><i class="fa fa-pencil fa-1d5x" title="Edit"></i></th>
    <th><i class="fa fa-trash fa-1d5x" title="Trash"></i></th>
    </thead>
    <tbody>
    {% for display_perm in groups_perms %}
    <tr>
        <td>{{display_perm.name }}</td>
        <td>{{display_perm.view }}</td>
        <td>{{display_perm.change }}</td>
        <td>{{display_perm.delete }}</td>
        {% if edit_perm %}
        <td>
            <a href="{% url 'permission_update' 'group' display_perm.pk obj.content_type obj.pk %} "
                    id="id_link_permission_group"><i
                    class="fa fa-pencil" title="Modify"></i></a></td>
        {% endif %}
    </tr>
    {% endfor %}
    {% if edit_perm %}
    <tr>
        <td>
            <a href="{% url 'permission_update' 'group' 0 obj.content_type obj.pk %}"
                    id="id_link_permission_add_group"><i
                    class="fa fa-plus" title="Add group"></i></a></td>
    </tr>
    {% endif %}
    </tbody>
</table>