
<div class="col-md-6">
    <!-- History/permission Tabs -->
    <div class="nav-tabs-custom">

        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href="#tab_1"
                                  data-toggle="tab">History</a>
            </li>
            <li><a href="#tab_2" data-toggle="tab"
                   data-url="{% url 'permission_view' obj.content_type obj.pk %}"><i
                    class="fa fa-lock"></i>
                &nbsp;&nbsp;
                Permissions</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Created at</dt>
                        <dd>{{ obj.created_at }}</dd>
                        <dt>Created by</dt>
                        <dd>{{ obj.created_by }}</dd>
                        <dt>Modified at</dt>
                        <dd>{{ obj.modified_at }}</dd>
                        <dt>Modified by</dt>
                        <dd>{{ obj.modified_by }}</dd>
                    </dl>
                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2"></div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
    <!-- nav-tabs-custom -->
</div>
<!-- /.col -->
