{% extends 'content.html' %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block head_title %}Permission{% endblock %}

{% block content_title%}Permission update{% endblock %}
{% block content_icon%}<i class="fa fa-lock pull-right"></i>{% endblock %}

{% block content %}

<div class="col-sm-4">
<!-- Default box -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Modify permission</h3>

        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"
                    data-toggle="tooltip" title="Collapse"><i
                    class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="redirect_url" value="{{ redirect_url }}" />
            <input class='btn btn-block btn-skin btn-flat btn-lg' type="submit"
                   value="{% trans 'Set' %}"/>
        </form>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer-->
</div>
<!-- /.box -->
</div>


{% endblock %}