{% extends 'mhc_pipeline/base_site/list.html' %}

{% load misc_tags %}

{% block list_table %}
<thead>
    <tr>

        <th>Name</th>
        <th>Details</th>
        <th>Created by</th>
        <th>Created at</th>
        <th>Hide</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</thead>

<tbody>
    {% for filter in filters %}
    <tr>

        <td>{{ filter.name }}</td>
        <td>{{ filter|format_filter_values|safe }}</td>
        <td>{{ filter.created_by }}</td>
        <td>{{ filter.created_at }}</td>
        <td>
           <input type="checkbox" class="hide_box" name="hide" value="{{ filter.pk }}" {% if filter.hidden %}checked="checked"{% endif %}/>
        </td>
        {% if filter.created_by == user or request.user.is_superuser %}
        <td><a href="{% url 'filter:share' filter.pk %}" id="id_share_link"><i
                class="fa fa-share fa-1d5x" title="Share"></i></a>
        </td>
        <td><a href="{% url 'filter:edit' filter.pk %}" id="id_rename_link"><i
                class="fa fa-pencil fa-1d5x" title="Rename"></i></a>
        </td>
        <td><a href="{% url 'filter:trash' filter.pk 'false'%}" id="id_trash_link"><i
                class="fa fa-trash fa-1d5x" title="Trash"></i></a>
        </td>
        {% else %}
        <td></td>
        <td></td>
        <td></td>
        {% endif %}
    </tr>
    {% endfor %}
</tbody>
{% endblock %}


{% block page_js %}
<!-- page script -->
<script>

    // Update hide value
    $('input:checkbox').click(function(e) {

        var url = "{% url 'filter:hide' '000' 'VALUE' %}";
        url = url.replace('000', $(this).val());
        url = url.replace('VALUE', $(this).is(":checked"));

        var element = $(this);

        $.ajax({url:  url, success: function(result){
            if( result.updated == "1") {
            }
            else {
                alert('Change not accepted by the server');
            }
        }});
    });


      $(function () {
        $('#list_table').DataTable({
          "paging": false,
          "lengthChange": true,
          "searching": false,
          "ordering": true,
          "info": false,
          "autoWidth": false,
          "pageLength": 20,
        });
      });

function onElementHeightChange(elm, callback){

	var lastHeight = elm.clientHeight, newHeight;
	(function run(){
		newHeight = elm.clientHeight;
		if( lastHeight != newHeight )
			callback();
		lastHeight = elm.clientHeight;

        if( elm.onElementHeightChangeTimer )
          clearTimeout(elm.onElementHeightChangeTimer);

		elm.onElementHeightChangeTimer = setTimeout(run, 200);
	})();
}


onElementHeightChange(document.body, function(){
  //alert('Body height changed');

  //Get window height and the wrapper height
      var neg = $('.main-header').outerHeight() + $('.main-footer').outerHeight();
      var window_height = $(window).height();
      //alert(window_height);
      //alert(document.documentElement.scrollHeight);
      window_height = document.documentElement.scrollHeight + 40;
      var sidebar_height = $(".sidebar").height();
      //Set the min-height of the content and sidebar based on the
      //the height of the document.

      if ($("body").hasClass("fixed")) {
        $(".content-wrapper, .right-side").css('min-height', window_height - $('.main-footer').outerHeight());
      } else {
        var postSetWidth;
        if (window_height >= sidebar_height) {
          $(".content-wrapper, .right-side").css('min-height', window_height - neg);
          postSetWidth = window_height - neg;
        } else {
          $(".content-wrapper, .right-side").css('min-height', sidebar_height);
          postSetWidth = sidebar_height;
        }

        //Fix for the control sidebar height
        var controlSidebar = $($.AdminLTE.options.controlSidebarOptions.selector);
        if (typeof controlSidebar !== "undefined") {
          if (controlSidebar.height() > postSetWidth)
            $(".content-wrapper, .right-side").css('min-height', controlSidebar.height());
        }

      }
});


</script>
{% endblock %}