{% extends 'content.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-sm-{{ view.column_width }}">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{ view.action }}</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"
                            data-toggle="tooltip" title="Collapse"><i
                            class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                {% crispy form %}
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

{% endblock %}


{% block page_js %}
<!-- page script -->
<script src="{% static 'bootstrap-duallistbox-master/dist/jquery.bootstrap-duallistbox.min.js' %}"></script>
<link rel="stylesheet" type="text/css"
      href="{% static 'bootstrap-duallistbox-master/src/bootstrap-duallistbox.css' %}">


<script>


$( document ).ready(function() {

    $("#id_users").bootstrapDualListbox({
    });


    $("#id_groups").bootstrapDualListbox({
    });
});






</script>
{% endblock %}