{% extends 'base_error.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}403 Permission Denied{% endblock %}

{% block content %}
<div class="error-page">
    <h2 class="headline text-yellow"> 403</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Permission Denied.</h3>

        <p>
            You don't have permission to access this content.
            You may <a href="{% url 'home' %}">return to your
            dashboard</a> or hit the back button.
        </p>
    </div>
    <!-- /.error-content -->
</div><!-- /.error-page -->
{% endblock %}