{% extends 'base_error.html' %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block head_title %}404 Page not found{% endblock %}


{% block content %}
<div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

        <p>
            We could not find the page you were looking for.
            You may <a href="{% url 'home' %}">return to your
            dashboard</a> or hit the back button.
        </p>
    </div>
    <!-- /.error-content -->
</div><!-- /.error-page -->
{% endblock %}