{% extends 'base_error.html' %}

{% block head_title %}500 Sever Error{% endblock %}

{% block content %}
<div class="error-page">
    <h2 class="headline text-red">500</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.
        </h3>

        <p>
            We will work on fixing that right away.
            Meanwhile, you may <a href="{% url 'home' %}">return to your
            dashboard</a> or hit the back button.
        </p>

    </div>
</div><!-- /.error-page -->

{% endblock %}

