{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{site.name}} | {% block head_title %}{{ view.title }} {{ view.title_suffix }}{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="{{site.name}}">
    <meta name="application-name" content="{{site.name}}">
    <meta name="msapplication-config" content="{% static 'icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    {% include 'head_css_js.html' %}

    <style>
      {% block style %}
      {% endblock %}
    </style>

    {% if settings.MATOMO_SITEID %}
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="{{ settings.MATOMO_URL }}/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '{{ settings.MATOMO_SITEID }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="{{ settings.MATOMO_URL }}/matomo.php?idsite={{ settings.MATOMO_SITEID }}&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
    {% endif %}

  </head>
  <body class="hold-transition skin-green sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        {% include 'nav_topbar.html' %}


        {% if request.user.is_authenticated and 'password' not in request.path %}
        <!-- =============================================== -->

        {% include 'nav_sidebar.html' %}

        <!-- =============================================== -->


        {% block content_section %}
        {% endblock %}




        {% include 'ctl_sidebar.html' %}


        {% else %}
        {% block not_logged_content %}

        {% endblock %}

        {% endif %}
    </div><!-- ./wrapper -->

    {% if not request.user.is_authenticated %}
    <footer class="footer-line">
        <div class='col-sm-10 col-sm-offset-1 text-align-center'>
            {% include "footer.html" %}
        </div>
    </footer>
    {% endif %}

    {% include 'tail_js.html' %}
    {% block page_js %}
    {% endblock %}
  </body>
</html>
