{% extends 'base.html' %}



{% block content_section %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header-custom">
        <div class="col-sm-12">
            <h1>
                {% block content_title%}{{ view.title }} {{ view.title_suffix }}{% endblock %}
                {% block content_icon%}<i class="fa fa-{{view.icon}} pull-right"></i>{% endblock %}
            </h1>
            <br/>
        </div>

    </section>

    <!-- Main content -->
    <section class="content" id="id_content">
        <br/>
        {% block content %}
        {% endblock %}
    </section>
    <!-- /.content -->

    <footer class="footer-line">
        <div class="col-sm-8 col-sm-offset-1">
            {% include "footer.html" %}
        </div>
    </footer>
</div><!-- /.content-wrapper -->

{% endblock %}