<div class="pull-right hidden-xs">
    <b>Release</b> DEV
</div>

<strong>Copyright &copy; 2015-{%now "Y"%} <a href="https://capca.iric.ca">Center for Advanced Proteomics and Chemogenomics Analyses
    (CAPCA)</a>.</strong> All rights reserved.
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.gnu.org/licenses/"><i class="fa fa-balance-scale" aria-hidden="true"></i> GNU AGPL-3.0</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://gitlab.com/iric-proteo/mapdp"><i class="fa fa-gitlab" aria-hidden="true"></i> Code repository</a>
