{% load static %}

      <header class="main-header">
        <!-- Logo -->
        <a href="{% url 'home' %}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini">{% include 'site_name_small.html' %}</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg">{% include 'site_name.html' %}</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          {% if request.user.is_authenticated %}
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>


          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        id="id_user_panel_link">
                  <i class="fa fa-user fa-1d5x"></i>
                  <span class="hidden-xs">{{ request.user }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <i class="fa fa-user fa-4x icon-white"></i>
                    <p>
                      {{ request.user }}
                      <small>{{ request.user.first_name }} {{ request.user.last_name }}</small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    {% if request.user.username != "demo" %}
                    <div class="pull-left">
                      <a href="{% url 'auth_password_change' %}" class="btn btn-default btn-flat"
                              id="id_auth_password_change_link">Change password</a>
                    </div>
                    {% endif %}
                    <div class="pull-right">
                      <a href="{% url 'auth_logout' %}" class="btn btn-default btn-flat"
                              id="id_auth_logout_link">Sign Out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% static 'MAPDP_User_manual.pdf' %}" data-toggle="documentation"><i class="fa fa-question-circle fa-1d5x"></i></a>
              </li>
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
          {% endif %}
        </nav>

      </header>
