{% load static %}

<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <!--
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
        -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MHC PIPELINE</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-flask"></i> <span>Biological samples</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'biological_sample:create' %}"><i
                            class="fa fa-plus"></i> <span>Create</span></a></li>
                    <li><a href="{% url 'biological_sample:list' %}"><i
                            class="fa fa-list"></i> <span>List</span></a></li>
                    <li><a href="{% url 'identification:view' %}"><i
                            class="fa fa-list"></i> <span>View identifications</span></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#" id="id_immunopeptidome_menu">
                    <i class="fa fa-barcode"></i> <span>Immunopeptidomes</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'identification:view' %}" id="id_immunopeptidome_create"><i
                            class="fa fa-plus"></i> <span>Create</span></a></li>
                    <li><a href="{% url 'immunopeptidome:create_from_file' %}"><i
                            class="fa fa-plus"></i> <span>Create from file</span></a></li>
                    <li><a href="{% url 'immunopeptidome:list' %}"><i
                            class="fa fa-list"></i> <span>List</span></a></li>
                </ul>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>