{% load static %}

<!-- jQuery 2.1.4 -->
<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="{% static 'AdminLTE-2.3.0/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>

<!-- SlimScroll -->
<script src="{% static 'AdminLTE-2.3.0/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'AdminLTE-2.3.0/plugins/fastclick/fastclick.min.js' %}"></script>
<!-- jQueryUI -->
<script src="{% static 'AdminLTE-2.3.0/plugins/jQueryUI/jquery-ui.min.js' %}"></script>

<!-- AdminLTE App -->
<script src="{% static 'AdminLTE-2.3.0/dist/js/app.min.js' %}"></script>
<!-- AdminLTE custom config -->
<script src="{% static 'js/adminLTE.config.js' %}"></script>


{% include 'session_security/all.html' %}


{% block tail_js_extra %}
{% endblock %}
