{% extends 'base_error.html' %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block content %}
<div class="col-sm-12">

    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-warning"></i> Warning</h4>
        {{ warning }}
    </div>

</div>
{% endblock %}